.link .thumbnail {
    flex-basis: 76px;
    min-width: 76px;
}
.linkflair-xb360 .thumbnail:after {
    background: -57px 0;
}
.linkflair-xb1 .thumbnail:after {
    background: -114px 0;
}
.linkflair-ps3 .thumbnail:after {
    background: -171px 0;
}
.linkflair-ps4 .thumbnail:after {
    background: -228px 0;
}
.linkflair-pc .thumbnail:after {
    background: -285px 0;
}
.linkflair-megathread .thumbnail:after {
    background: -342px 0;
}
.linkflair-stadia .thumbnail:after {
    background: -399px 0;
}

.side a[href="https://goo.gl/psKDPX"] { /* XB1 */
    background: -52px 0;
}
.side a[href="https://goo.gl/7SpSjK"] { /* PS4 */
    background: -104px 0;
}
.side a[href="https://goo.gl/WW97SZ"] { /* PC */
    background: -130px 0;
}
.side a[href="https://layer7.xyz/nAQOBY"] { /* Stadia */
    background: -182px 0;
}