.flair-One {
    background-position: 0 0;
}
.flair-PS4 {
    background: 0 -21px;
}
.flair-PC {
    background: 0 -42px;
}
.flair-Stadia {
    background: 0 -63px;
}

.flair {
    font-size: 0;
    background-image: url(%%userflair%%);
    background-color: transparent;
    width: 18px;
    height: 20px;
    transform: scale(0.7);
    border: 0;
    vertical-align: top;
    position: relative;
    top: -2px;
    margin-bottom: -100%;
}