.link .thumbnail:after {
    background-image: url(%%FilterIcons%%);
    background-size: auto 57px !important;
    width: 56px;
}
.side .md > blockquote:last-of-type table a {
    background-image: url(%%FilterIcons%%);
    background-size: auto 26px !important;
    width: 26px;
}