body {
    overflow-x: hidden !important;
}
body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
body:before, .side, .commentarea {
    background: hsla(222,16%,95%,1);
}

:lang(dm) a {
    color: rgb(140, 179, 217);
}

:lang(dm) body:before,
:lang(dm) .side,
:lang(dm) .commentarea,
.res.res-nightmode body:before,
.res.res-nightmode .side,
.res.res-nightmode .commentarea {
    background: hsla(222,16%,15%,1);
}

#header, .side .md > blockquote:first-of-type, .side .md > h6:first-of-type, .side #search input[type=text],
#searchexpando.infobar, #searchexpando label select,
.thing .score, .link .rank, .link .flat-list a, .link .tagline, .side .md,
.link .flairselector, .footer .flat-vert.title, .footer, .menuarea, .panestack-title,
.gold-accent.comment-visits-box, .nextprev, .submit-page .content,
button, button[type=submit], input[type=button], input[type=submit] {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
}

.res-nightmode body, .res-nightmode body .content[role=main], .res-nightmode body .content[role=main] .content,
.res.res-nightmode .side, .res.res-nightmode .side .titlebox, .res.res-nightmode .leavemoderator,
.res-nightmode .trophy-area .content,
.res-nightmode .side .md ol, .res-nightmode .side .md ul,
.res.res-nightmode .icon-menu a, .res.res-nightmode .sidebox,
:lang(dm) #REScommentSubToggle {
    background: transparent !important
}

:lang(dm) .content>.menuarea,
:lang(dm) .content.submit,
:lang(dm).submit-page .content > h1,
:lang(dm) #REScommentSubToggle {
    color: rgb(204, 204, 204);
}
:lang(dm)  .tagline a {
    color: rgb(106, 152, 175);
}
:lang(dm) .nsfw-stamp {
    color: rgb(191, 64, 64);
}
:lang(dm) .spoiler-stamp {
    color: rgb(255, 130, 0);
}
:lang(dm) .linkflairlabel {
    color: rgb(200, 200, 200);
    background-color: rgb(64, 64, 64);
    border-color: rgb(77, 77, 77);
}
:lang(dm) .RESUserTagImage,
.res.res-nightmode .RESUserTagImage,
:lang(dm) .voteWeight {
    opacity: 0.6;
}
:lang(dm) .RESUserTagImage:after {
    color: rgb(117, 142, 168);
}

/********************************************************************************
* HEADER
*********************************************************************************/

#header {
    background: transparent;
    height: 200px;
    border-bottom: 0;
    margin-bottom: 110px;
}

/* sr-header-area
--------------------------------------------------------------------------------*/

#sr-header-area, #sr-header-area a, #sr-header-area div[id^=RESShortcuts], #sr-header-area .separator {
    background: transparent;
    color: #fff;
    border: 0;
    font-weight: 600;
    overflow: visible;
}
#sr-header-area {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: absolute;
    /* top: 5px;
    left: 5px;
    right: 5px; */
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    line-height: 18px;
    padding: 0 5px 0 0;
    background: rgba(255,255,255,0.25) !important;
    z-index: 5;
}
.sr-bar .separator {
    display: none;
}
#sr-header-area a,
.dropdown.srdrop .selected {
    display: inline-block;
    padding: 0 4px;
    letter-spacing: 1px;
    font-size: 8.5px !important;
    border-bottom: 1.5px solid transparent;
    color: rgba(255,255,255,0.85);
    text-shadow: 0px 0px 2px #222;
}
#sr-header-area a:hover,
.dropdown.srdrop .selected:hover {
    background: rgba(255,255,255,0.1);
    border-bottom-color: #fff;
    text-decoration: none;
    color: #fff;
}

#sr-header-area a.RESShortcutsCurrentSub, #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: #fff !important;
}
#sr-more-link {
    line-height: 19px;
}
.res.res-nightmode #sr-more-link {
    background: transparent !important;
    color: #fff !important;
}
.res.res-nightmode .srSep {
    color: #fff;
}

#RESShortcutsEditContainer, #RESShortcutsEditContainer * {
    height: 18px;
    line-height: 18px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
#RESShortcutsSort {
    font-size: 13px;
}
#RESShortcutsRight, #RESShortcutsLeft {
    font-size: 13px;
    width: 10px;
    text-align: center;
}
#RESShortcutsLeft {
    left: 25px;
}
#RESShortcutsRight {
    right: 10px;
}
#RESShortcutsAdd {
    font-size: 10px !important;
    left: 35px;
}
#sort-menu.drop-choices, .res #RESSubredditGroupDropdown {
    border: 0;
    background: #fff;
    color: #777;
    border: 1px solid black;
}
#sort-menu.drop-choices a.choice, .res #RESSubredditGroupDropdown a {
    color: #000;
    font-weight: 600;
}
#sort-menu.drop-choices a.choice:hover, .res #RESSubredditGroupDropdown a:hover {
    background: #bbb;
}

#RESShortcutsEditContainer {
    opacity: 0.3;
}
#RESShortcutsEditContainer:hover {
    opacity: 1;
}


#sr-header-area > .width-clip {
    margin-right: 300px;
    height: 18px;
}
#sr-header-area > .width-clip .sr-list {
    margin-right: 38px;
    height: 18px;
}
#RESShortcuts {
    top: 0;
    bottom: 0;
    left: 0;
    right: 470px;
    overflow: hidden !important;
}
#RESShortcutsEditContainer {
    margin-right: 410px;
}
#srLeftContainer {
    display: -webkit-flex;
    display: flex;
}
#RESShortcutsViewport {
    position: relative;
    flex: 1 0;
}

/* sr drop
--------------------------------------------------------------------------------*/
.dropdown.srdrop .selected {
    background: 0;
    color: #fff;
    margin: 0;
    vertical-align: initial;
    font-weight: 600;
}

#sr-header-area .drop-choices.srdrop, .res #srList {
    margin: 3px 0;
    border: 0;
    background: #fff;
    border-top: 4px solid #b78c25;
    box-sizing: border-box;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    overflow: visible;
}
#sr-header-area .drop-choices.srdrop:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #b78c25;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#sr-header-area .drop-choices a.choice {
    display: block;
    line-height: 28px;
    font-weight: normal;
    font-size: 10px !important;
    color: #000;
    border-bottom: 1px solid #b3b3b3;
    margin: 0 5px;
}
html body #sr-header-area .drop-choices a.choice {
    color: #000 !important;
    text-shadow: none !important;
}

.res #srList {
    margin-left: 5px;
    top: 24px;
    padding: 0 5px;
    overflow-y: scroll;
}
.res #srList tr {
    border-bottom: 1px solid #b3b3b3;
}
.res #srList tbody tr:hover {
    background: transparent;
}
.res #srList tbody tr td a {
    color: #000;
}
#srList td a,
.sortAsc::after, .sortDesc::after,
.res #srList tbody tr:hover td a,
#sr-header-area .drop-choices a.choice:hover {
    color: #b78c25;
}

/* header-bottom-right
--------------------------------------------------------------------------------*/
#header-bottom-right, #header .user a, #userbarToggle, #header-bottom-right .logout a {
    background: transparent;
    color: #fff;
    border: 0;
    border-radius: 0;
}
#header-bottom-right {
    background: transparent !important;
    /* top: 5px !important; */
    top: 0 !important;
    bottom: auto !important;
    right: 5px;
    min-height: 18px !important;
    height: 18px;
    line-height: 18px;
    padding: 0;
    z-index: 5;
}
#header .user {
    line-height: 18px;
    display: inline-block;
    color: #fff;
}
#userbarToggle {
    min-height: 18px !important;
    line-height: 16px;
    height: 18px;
}
.res.res-nightmode #userbarToggle {
    background: transparent;
}

/* header-bottom-left
--------------------------------------------------------------------------------*/
#header-img {
    display: none;
}
#header-bottom-left {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#header-bottom-left:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(%%banner-dark%%) no-repeat center / cover;
    opacity: 0.85;
}
#header-bottom-left:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 -80px 80px -40px rgba(0,0,0,0.5), inset 0 60px 60px -30px rgba(0,0,0,0.5);
    z-index:0;
}

#header-img.default-header {
    position: absolute;
    z-index: 4;
    top: 24px;
    left: 10px;
    height: 38px;
    width: 150px;
    background: url(%%spritesheet%%) 0 -2px / 485px;
    transition: opacity 300ms ease;
    opacity: 0.8;
}
#header-img.default-header:hover {
    opacity: 1 !important;
}

.pagename {
    font-size: 0;
    display: block;
    position: relative;
    z-index: 3;
}
.pagename a {
    display: block;
    width: 500px;
    height: 150px;
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.pagename a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(%%header-light%%) no-repeat center / contain;
}

/* tabmenu
--------------------------------------------------------------------------------*/
#header .tabmenu {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    left: 0;
    right: 0;
    border-bottom: .5px solid #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#header .tabmenu li {
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
}
#header .tabmenu li a {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative;
    padding-top: 5px;
    bottom: 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transition: all 300ms ease;
}
#header .tabmenu li.selected {
    border-bottom-color: #fff;
}
#header .tabmenu li.selected a,
#header .tabmenu li:hover a {
    padding-bottom: 5px;
    bottom: 4px;
}

/* info bars
--------------------------------------------------------------------------------*/

/* --- info bar 1 --- */

.side .md > blockquote:first-of-type {
    background: #536FA1;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0;
    height: 50px;
    border: 0;
    z-index: 50;
}
.side .md > blockquote:first-of-type ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side .md > blockquote:first-of-type > ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.side .md > blockquote:first-of-type > ul > li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
    height: 50px;
    transition: background .15s linear 0s;
}
.side .md > blockquote:first-of-type > ul > li > strong {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    color: #fff;
}
.side .md > blockquote:first-of-type > ul > li:hover {
    background: rgba(255,255,255,0.1);
    transition-delay: .15s;
}
.side .md > blockquote:first-of-type > ul > li > ul {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1ms linear 0s, max-height 1ms linear 0s;
    padding-left: 5px;
    margin-left: -5px;
}
.side .md > blockquote:first-of-type > ul > li > strong:hover ~ ul,
.side .md > blockquote:first-of-type > ul > li > ul:hover {
    visibility: visible;
    opacity: 1;
    max-height: 9999px; /* just needs to be a very large number, as you can't transition
                           between '0' and 'auto' */
    transition-delay: .15s;
}

.side .md > blockquote:first-of-type > ul > li > ul li {
    display: block;
    border-bottom: 1px solid #57606f;
    line-height: 36px;
    height: 36px;
}
.side .md > blockquote:first-of-type > ul > li > ul li a {
    display: block;
    color: #ccc;
    padding: 0 10px;
    background: #393939;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
}
.side .md > blockquote:first-of-type > ul > li > ul li:hover a {
    background: #424242;
    background: linear-gradient(0deg, #424242, #4d4d4d);
    color: #eee;
}
.side .md > blockquote:first-of-type > ul > li > ul li:hover a:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    margin-right: 1px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #536FA1;
}

.side .md > blockquote:first-of-type > ul > li:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(255, 206, 31);
    position: relative;
    left: 0;
    right: 0;
    bottom: 2px;
    margin: 0 auto;
    width: 0;
    padding: 0;
    transition: all 250ms ease-out 0s;
    pointer-events: none;
}
.side .md > blockquote:first-of-type > ul > li:hover:after {
    width: 100%;
    transition-delay: .15s;
}

/* --- info bar 2 --- */

.side .md > h6:first-of-type {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    top: 250px;
    text-decoration: none;
}

.side .md > h6:first-of-type > strong,
.side .md > h6:first-of-type > strong a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.side .md > h6:first-of-type > strong {
    font-size: 0;
    height: 50px;
    background: #1A1D24;
    overflow: hidden;
}

.side .md > h6:first-of-type > strong > a {
    font-size: 10px;
    color: #fff;
    height: 40px;
    box-sizing: border-box;
    background: hsl(222, 16%, 20%);
    border: 1px solid hsl(218, 32%, 20%);
    margin-right: 10px;
    padding: 0 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.side .md>h6:first-of-type>strong>a[href^="#"] {
    display: none;
}
.side .md > h6:first-of-type > strong > a[href^="#"]:first-child + a,
.side .md > h6:first-of-type > strong > a:first-child {
    margin-left: 10px;
}
.side .md > h6:first-of-type > strong > a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #536FA1;
    border-right: 5px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.side .md > h6:first-of-type > strong > a:after {
    content: '';
    display: block;
    width: 28px;
    height: 1px;
    background: #536FA1;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg) translate(-5px, -5px);
    border-top: 1px solid transparent;
}
.side .md > h6:first-of-type > strong > a:hover {
    background: #fff !important;
    color: #1A1D24;
}
.side .md > h6:first-of-type > strong > a:hover:after {
    border-top-color: #1A1D24 !important;
    background: transparent !important;
}
.side .md > h6:first-of-type > strong > a:hover:before {
    border-color: transparent !important;
}

/********************************************************************************
* HEADER BOTTOM RIGHT ICONS
*********************************************************************************/

/* beta hint
--------------------------------------------------------------------------------*/
.beta-hint {
    top: 0;
    position: absolute;
    right: 100%;
    display: block;
    width: 18px;
    height: 18px;
}
.beta-hint a {
    top: 1px;
    right: 0;
    margin: 0;
    background: 0;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 0;
    text-align: center;
    font-size: 0 !important;
}
.beta-hint a:before {
    content: 'β';
    font-size: 10px;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
}

/* header-bottom-right
-------------------------------------------------------------------------------- */
#header-bottom-right {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

#header-bottom-right .separator {
    display: none !important;
}

/* RES account switcher icon
--------------------------------------------------------------------------------*/

.res #RESAccountSwitcherIcon {
    width: 22px;
    height: 18px;
    background-image: none !important;
    margin-left: 0;
    position: relative;
}
.res #RESAccountSwitcherIcon:after {
    content: '';
    display: block;
    background: url(%%iconsheet%%);
    background-position: -2px -15px;
    background-size: 250px;
    width: 18px;
    height: 18px;
    margin: auto;
}

.res #RESAccountSwitcherIcon:hover {
    background: rgba(255,255,255,0.1);
}

/* mail icon
--------------------------------------------------------------------------------*/

#message:after, #message.nohavemail:after, #message.havemail:after,
#inbox:after, #inbox.nohavemail:after, #inbox.havemail:after,
#mail:after, #mail.nohavemail:after, #mail.havemail:after {
    content: '';
    display: block;
    position: absolute;
    background: url(%%iconsheet%%);
    background-size: 250px;
    width: 20px;
    height: 18px;
    background-position: -1px 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#message, #message.nohavemail, #message.havemail,
#inbox, #inbox.nohavemail, #inbox.havemail,
#mail, #mail.nohavemail, #mail.havemail {
    background-image: none !important;
    position: relative;
    height: 18px;
    min-width: 20px;
    top: 0;
    margin-left: 5px;
    font-size: 0 !important;
}
#message.havemail, .res.res-nightmode #message.havemail,
#inbox.havemail, .res.res-nightmode #inbox.havemail,
#mail.havemail, .res.res-nightmode #mail.havemail {
    background: #FF7500;
}
#message:not(.havemail):hover,
#inbox:not(.havemail):hover,
#mail:not(.havemail):hover {
    background: rgba(255,255,255,0.1);
}

.message-count, .inbox-count {
    border-radius: 0;
    margin-left: 0;
    padding: 0px 3px;
    padding-right: 5px;
    background-color: #FF7500 !important;
    font-weight: bold;
    color: white !important;
}
.inbox-count {
    margin-right: 5px;
}

#mail.nohavemail, #mail.havemail {
    min-width: 24px;
}

.message-count#chat-count {
    height: 14px;
    line-height: 15px;
    margin: 0 4px 0 -2px;
    border-radius: 3px;
    padding: 0 3px;
}

#header-bottom-right #chat {
    margin-left: 5px;
    margin-right: 5px;
}

/* Mod mail + New Modmail icon
--------------------------------------------------------------------------------*/

#modmail, #modmail.havemail, #modmail.nohavemail,
#new_modmail, #new_modmail.havemail, #new_modmail.nohavemail {
    font-size: 0 !important;
    background-image: none !important;
    width: 20px;
    height: 18px;
    top: 0;
    margin-bottom: 0;
}
#modmail.havemail, #new_modmail.havemail,
.res.res-nightmode #modmail.havemail, .res.res-nightmode #new_modmail.havemail {
    background: #FF7500;
}
#modmail:after, #new_modmail:after {
    content: '';
    display: block;
    background: url(%%iconsheet%%);
    background-size: 250px;
    width: 20px;
    height: 18px;
    background-position: -1px -47px;
    position: absolute;
    top: 0;
    left: 0;
}

#modmail:not(.havemail):hover, #new_modmail:not(.havemail):hover {
    background: rgba(255,255,255,0.1);
}

#new_modmail:after {
    background-position: -1px -78px;
}

/* flat list
--------------------------------------------------------------------------------*/

#header-bottom-right > ul.flat-list {
    height: 18px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

#header-bottom-right > ul.flat-list li {
    width: 20px;
    height: 18px;
    display: inline-block;
    position: relative;
}

#header-bottom-right > ul.flat-list li > a {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 18px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}


#header-bottom-right > ul.flat-list li > a:hover {
    background: rgba(255,255,255,0.1);
}

/* Preferences
--------------------------------------------------------------------------------*/

.pref-lang:after {
    content: '';
    display: block;
    background: url(%%iconsheet%%);
    background-size: 250px;
    width: 20px;
    height: 18px;
    background-position: 0 -62px;
    position: absolute;
    top: 0;
    left: 0;
}
.pref-lang {
    font-size: 0 !important;
}

/* RES settings gear icon
--------------------------------------------------------------------------------*/
.res #RESSettingsButton, .res #openRESPrefs {
    height: 18px;
    line-height: 18px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 2px;
    margin: 0 5px;
}

.res .gearIcon:after {
    text-shadow: none;
    color: white;
}

.res #openRESPrefs:hover {
    background: rgba(255,255,255,0.1);
}

/* Account switcher dropdown
--------------------------------------------------------------------------------*/

.res #RESAccountSwitcherIconOverlay {
    display: none !important;
}

.res #RESAccountSwitcherDropdown {
    margin-top: -1px !important;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: #fff;
}

#RESAccountSwitcherDropdown.RESDropdownList li {
    border: 0;
    color: rgba(0,0,0,0.6);
}
#RESAccountSwitcherDropdown.RESDropdownList li:hover {
    color: rgba(0,0,0,1);
    background: transparent;
}

/********************************************************************************
* SIDEBAR
*********************************************************************************/
.side {
    border-left: 2px solid hsla(222,16%,80%,1);
    margin: -10px 0 0 0;
    padding: 270px 5px 20px 10px;
}
:lang(dm) .side,
.res.res-nightmode .side {
    border-left-color: hsl(222, 16%, 8%);
}
.content[role=main] {
    border-right: 2px solid hsla(222,16%,80%,1);
}

:lang(dm) .content[role=main],
.res.res-nightmode .content[role=main] {
    border-right-color: hsl(222, 16%, 8%);
}
.icon-menu a, .side form.toggle, .side .leavemoderator {
    background: transparent;
}

.side .spacer {
    margin: 0;
}
.side #ad_1,
.side #ad_2 {
    margin-top: 2px;
}
.side #ad_5 {
    margin-bottom: 5px;
}

.side .submit-link,
.side .submit-text .morelink .nub {
	display: none;
}

.side .submit-text .morelink {
    background: hsl(226,8%,88%) !important;
	border: 0;
	font-size: 0;
	height: 80px;
	margin: 0 0 3px;
    position: absolute;
    top: 486px;
    width: 300px;
}

:lang(dm) .side .submit-text .morelink,
.res.res-nightmode .side .submit-text .morelink,
.side .submit-text .morelink:hover {
    background: #536FA1 !important;
}

.side .submit-text .morelink a:before {
    content: '';
    position: absolute;
    width: 250px;
    height: 60px;
    top: 0;
    left: 0;
    background: url(%%spritesheet%%) 279px -168px / 532px;
}

:lang(dm) .side .submit-text .morelink a:before,
.res.res-nightmode .side .submit-text .morelink a:before,
.side .submit-text .morelink:hover a:before {
    background-position: 279px -1px;
}

:lang(dm) .side .submit-text .morelink:hover,
.res.res-nightmode .side .submit-text .morelink:hover { background: #5775a8 !important; }

/* top header
--------------------------------------------------------------------------------*/
.side .md > p:first-child {
    display: block;
    position: absolute;
    top: 305px;
    width: 300px;
    margin-top: 10px;
    padding-left: 36px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
    box-sizing: border-box;
}
.side .md > p:first-child:before {
    content: '';
    background: url(%%spritesheet%%) no-repeat -77px -51px / 620px;
    position: absolute;
    top: 1px;
    left: 3px;
    width: 24px;
    height: 24px;
}

:lang(dm) .side .md > p:first-child:before,
.res.res-nightmode .side .md > p:first-child:before {
    background-position: -102px -51px;
    opacity: 0.8;
}
.side .md > p:first-child a {
    font-size: 15px;
    color: inherit;
    display: block;
    line-height: 20px;
}

/* search
--------------------------------------------------------------------------------*/

.side #search {
    position: relative;
    z-index: 5;
    margin-left: 39px;

}
.side #search input[type=text] {
    border: 1px solid transparent;
    background: #2d313e;
    color: #fff;
    height: 36px;
    padding: 0 40px 0 20px;
    transition: all 200ms ease;
    width: 100%;
}
.side #search input[type=text]:hover, .side #search input[type=text]:focus {
	outline: 0;

}
.side #search input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 9px;
}
.side #search input[type=text]::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 9px;
}
.side #search input[type=text]:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 9px;
}
.side #search input[type=text]:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 9px;
}

.side #search input[type=submit] {
    background: url(%%iconsheet%%) 35px -66px;
    background-size: 225px;
    height: 36px;
    width: 36px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#searchexpando.infobar {
    position: absolute;
    left: -39px;
    right: 0;
    margin-top: 3px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}
#searchexpando label {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
#searchexpando br {
    display: none;
}
#searchexpando input, #searchexpando p {
    margin: 0 10px 0 0;
}
#searchexpando label:first-child {
    margin-bottom: 5px;
}
#searchexpando label:not(:first-child) {
    line-height: 24px;
    margin-left: 23px;
}
#searchexpando label select {
    margin-left: 5px;
    left: 30px;
    position: absolute;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 10px;
    height: 20px;
}
#searchexpando > p:last-child {
    margin-top: 5px;
}
#moresearchinfo, label+#moresearchinfo {
    border-top: 1px solid #000;
    margin-top: 5px;
    padding-top: 10px;
}
#search_hidemore {
    letter-spacing: 2px;
}

:lang(dm) #searchexpando.infobar,
.res.res-nightmode #searchexpando.infobar {
    background: #000;
    border-color: #ccc;
    color: #fff;
}

:lang(dm) #searchexpando.infobar select,
.res.res-nightmode #searchexpando.infobar select {
    background: #000;
    color: #fff;
    border-color: #ccc;
}

/* community links
--------------------------------------------------------------------------------*/
.side .md h2:first-of-type + ul {
    padding: 0;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

/* Sherpa List - DestinySherpa (https://goo.gl/a7YWq7) */
/* Sherpa List - CrucibleSherpa (https://goo.gl/vyBCNC) */
.side a[href="https://goo.gl/a7YWq7"],
.side a[href="https://goo.gl/vyBCNC"] {
	background-position: 0 0;
}
/* Bungie */
.side a[href="https://www.bungie.net/"] {
	background: 0 -39px;
}
/* DestinyTheGame Farm Rules (http://goo.gl/gmpPko) */
/* DestinyTechSupport Farm Rules (https://goo.gl/qUf9uv) */
/* Fireteams Farm Rules (https://goo.gl/nzE7GQ) */
/* DestinySherpa Farm Rules (https://goo.gl/FEJYWK) */
/* CrucibleSherpa Farm Rules (https://goo.gl/11Q9Nj) */
.side a[href="https://goo.gl/gmpPko"],
.side a[href="https://goo.gl/qUf9uv"],
.side a[href="https://goo.gl/nzE7GQ"],
.side a[href="https://goo.gl/FEJYWK"],
.side a[href="https://goo.gl/11Q9Nj"] {
	background: 0 -78px;
}
/* Fireteams - (http://goo.gl/UvisUG) */
.side a[href="https://goo.gl/UvisUG"] {
	background: 0 -117px;
}
/* Destiny IRC (http://goo.gl/O8LMyx) */
.side a[href="https://goo.gl/O8LMyx"] {
	background: 0 -156px;
}
/* Destiny Reddit Wiki (http://goo.gl/cGcWNt) */
.side a[href="https://goo.gl/cGcWNt"] {
	background: 0 -195px;
}
/* Twitch Streams (http://goo.gl/1mJOZF) */
/* CrucibleSherpa Twitch List (https://goo.gl/4Pt75T) */
.side a[href="https://goo.gl/1mJOZF"],
.side a[href="https://goo.gl/4Pt75T"] {
	background: 0 -234px;
}
/* DestinySherpa (http://goo.gl/OtoFXb) */
.side a[href="https://goo.gl/OtoFXb"] {
	background: 0 -273px;
}
/* CrucibleSherpa (https://goo.gl/HzAF1X) */
.side a[href="https://goo.gl/HzAF1X"] {
	background: 0 -312px;
}
/* DestinyTheGame (https://goo.gl/9b3xGf) */
.side a[href="https://goo.gl/9b3xGf"] {
    background: 0 -351px;
}
/* DestinyTechSupport (https://goo.gl/iaaibC) */
.side a[href="https://goo.gl/iaaibC"] {
    background: 0 -390px;
}
/* Destiny Lore */
.side a[href="https://goo.gl/QtK2Wo"] {
    background: 0 -429px;
}
/* Destiny Reddit Discord */
.side a[href="https://discord.gg/DestinyReddit"] {
	background: 0 -468px;
}

.side .md h2:first-of-type + ul li a {
    font-size: 0;
	background-size: 300px auto !important;
	display: block;
	height: 38px;
	width: 300px;
	background-image: url(%%rsz-1sidebarbuttons%%);
	margin-top: 6px;
	transition: .35s all ease;
    transform: scale(0.93333);
    transform-origin: left top;
    margin-bottom: -5px;
}
.side .md h2:first-of-type + ul li a:hover {
	opacity: .8
}

/* Filter Icons
--------------------------------------------------------------------------------*/
.side .md > blockquote:last-of-type table a {
	display: block;
	height: 26px;
	width: 48px;
	opacity: .6;
    transform: scale(0.85) translate(4px, 0);
}
.side .md > blockquote:last-of-type table a:hover {
	opacity: .85;
}

/* filter box
--------------------------------------------------------------------------------*/

.side .md > blockquote:last-of-type:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
    background: #2d313e url(%%iconsheet%%) 68px -59px;
    background-size: 205px;
}
.side .md > blockquote:last-of-type:hover:before {
    background-color: #b78c25;
}
.side .md > blockquote:last-of-type {
    position: absolute;
    top: 305px;
    padding: 0;
    padding-top: 36px !important;
    left: calc(100% - 305px);
    box-sizing: border-box;
    overflow: hidden;
    max-height: 1000px;
    max-width: 300px;
    border: 0;
    transition: max-height 300ms ease, max-width 300ms ease;
    margin-top: 265px;
}
.side .md > blockquote:last-of-type:not(:hover) {
    max-height: 0;
    max-width: 38px;
    padding: 0;

}
.side .md > blockquote:last-of-type > * {
    margin: 0;
    background: rgba(0,0,0,0.9);
    box-sizing: border-box;
    width: 300px;
    color: #fff;
}
.side .md > blockquote:last-of-type > *:first-child {
    margin-top: 3px;
}

.side .md > blockquote:last-of-type hr {
    display: none;
}
.side .md > blockquote:last-of-type table {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.side .md > blockquote:last-of-type table td,
.side .md > blockquote:last-of-type table th {
    border: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    padding: 4px 0;
}
.side .md>blockquote:last-of-type table td:nth-child(even),
.side .md>blockquote:last-of-type table th:nth-child(even) {
    min-width: 100px;
    box-sizing: border-box;
    padding: 0 7px;
}

.side .md > blockquote:last-of-type h2 {
    background: hsla(274, 22%, 26%, 0.9);
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px 10px 5px 10px;
}
.side .md > blockquote:last-of-type h2 a {
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    margin-bottom: -5px;
}
.side .md > blockquote > p {
    padding: 10px;
}
.side .md > blockquote > p em {
    font-style: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
}


/* titlebox headers / side headers
--------------------------------------------------------------------------------*/
.side .md > h2:first-of-type,
.side .md > h1:first-of-type,
.sidecontentbox .title,
.titlebox > h1,
.linkinfo .date {
    background: hsl(227, 16%, 26%) !important;
    overflow: hidden;
    position: relative;
    height: 30px;
    width: 100%;
    z-index: 0;
    margin-bottom: 0;
}
.side .md > h2:first-of-type {
    margin-top: 5px;
}

html:not(:lang(dm)):not(.res-nightmode) .side .md > h2:first-of-type,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h1:first-of-type,
html:not(:lang(dm)):not(.res-nightmode) .sidecontentbox .title,
html:not(:lang(dm)):not(.res-nightmode) .titlebox > h1,
html:not(:lang(dm)):not(.res-nightmode) .linkinfo .date {
    background: hsl(227,16%,82%) !important;
}

.side .md > h2:first-of-type strong,
.side .md > h1:first-of-type a,
.sidecontentbox .title h1,
.titlebox > h1:after,
.linkinfo .date:after {
    display: block;
    line-height: 30px;
    padding-left: 10px;
    color: #fff;
    font-size: 0;
    z-index: 1;
    position: relative;
    text-decoration: none !important;

    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 6px;

    max-width: 220px;
    overflow: hidden;
    height: 30px;
}
.side .md > h2:first-of-type:before,
.side .md > h1:first-of-type:before,
.sidecontentbox .title:before,
.titlebox > h1:before,
.linkinfo .date:before {
    content: '';
    display: block;
    background: #81322E;
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(-45deg) translate(-30px, -30px);
    transform-origin: left top;
    border: 4px solid hsl(227, 16%, 26%);
    outline: 4px solid #81322E;
}

html:not(:lang(dm)):not(.res-nightmode) .side .md > h2:first-of-type:before,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h1:first-of-type:before,
html:not(:lang(dm)):not(.res-nightmode) .sidecontentbox .title:before,
html:not(:lang(dm)):not(.res-nightmode) .titlebox > h1:before,
html:not(:lang(dm)):not(.res-nightmode) .linkinfo .date:before {
    border-color: hsl(227,16%,82%) !important;
}

/* custom */
.side .md > h2:first-of-type:before {
    background: #CF683F;
    outline-color: #CF683F;
}
.side .md > h1:first-of-type:before {
    background: #5470A2;
    outline-color: #5470A2;
    margin-left: -40px;
}
.sidecontentbox .title:before,
.titlebox > h1:before,
.linkinfo .date:before {
    background: #b78c25;
    outline-color: #b78c25;
}
.linkinfo .date:before {
    margin-left: -70px;
}

.sidecontentbox .helplink ~ .title:before {
    margin-left: -60px;
    background: #528542;
    outline-color: #528542;
}

.titlebox > h1:after {
    content: 'User Settings';
}
.titlebox > h1 a {
    display: none;
}
body:not(.res):not(.loggedin) > h1 {
    display: none;
}

/* following box background */
.side .md > h2:first-of-type + ul,
.side .md > h1:first-of-type + ol,
.sidecontentbox .content,
.side .md > h4,
.side .md > h2:last-of-type + p,
.side .md > h2:last-of-type + p + hr + p,
.side .titlebox form.toggle,
.titlebox .tagline,
.linkinfo,
.login-form-side,
.side .titlebox .leavemoderator {
    background: hsl(226, 16%, 22%) !important;
    color: hsl(218, 46%, 88%);
    margin-top: 0;
}

html:not(:lang(dm)):not(.res-nightmode) .side .md > h2:first-of-type + ul,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h1:first-of-type + ol,
html:not(:lang(dm)):not(.res-nightmode) .sidecontentbox .content,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h4,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h2:last-of-type + p,
html:not(:lang(dm)):not(.res-nightmode) .side .md > h2:last-of-type + p + hr + p,
html:not(:lang(dm)):not(.res-nightmode) .side .titlebox form.toggle,
html:not(:lang(dm)):not(.res-nightmode) .titlebox .tagline,
html:not(:lang(dm)):not(.res-nightmode) .linkinfo,
html:not(:lang(dm)):not(.res-nightmode) .login-form-side,
html:not(:lang(dm)):not(.res-nightmode) .side .titlebox .leavemoderator {
    background: hsla(226,16%,89%,1) !important;
    color: hsl(218,46%,20%);
}

.side .md > h1:first-of-type + ol a,
.sidecontentbox .content a,
.side .md > h4 a {
    color: hsl(218,67%,51%);
}

:lang(dm) .side .md > h1:first-of-type + ol a,
:lang(dm) .sidecontentbox .content a,
:lang(dm) .side .md > h4 a,
.res.res-nightmode .side .md > h1:first-of-type + ol a,
.res.res-nightmode .sidecontentbox .content a,
.res.res-nightmode .side .md > h4 a {
    color: hsl(218, 67%, 61%);
}

/* titlebox
--------------------------------------------------------------------------------*/
.side .md hr, .titlebox .bottom, .res span.multi-count {
    display: none !important;
}
.side .md > p {
    margin: 0;
}

/* container
   ~~~~~~~~~ */
.titlebox {
    margin-top: 3px;
}
.titlebox, .subButtons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ordering
   ~~~~~~~~ */
.titlebox > * {
    order: 7;
    width: 100%;
}
.titlebox > h1 {
    order: 0;
}
.subscribers, .users-online {
    order: 1;
}
.titlebox > .subButtons,
.titlebox .subscribe-button {
    order: 2;
    margin: 0;

}

/* cell container
   ~~~~~~~~~~~~~~ */
.subscribers, .users-online,
.titlebox .subscribe-button.toggle .option.active,
.titlebox .res-fancy-toggle-button,
.side a[title="Switch mode"] {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    display: block;
    position: relative;
    width: 148.5px;
    height: 60px;
    margin: 0 3px 3px 0;
    border-radius: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: hsl(226,8%,88%);
    color: hsl(226,8%,28%);
}

.titlebox .subButtons {
    width: 300px !important;
}
.titlebox .subButtons .res-fancy-toggle-button:not(.subscribe-button) {
    height: 28.5px;
}
.titlebox .subButtons .res-fancy-toggle-button[title*="shortcut"],
.titlebox .subButtons .res-fancy-toggle-button[title*="dashboard"] {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
}
.titlebox .subButtons .res-fancy-toggle-button[title*="shortcut"] {
    bottom: auto;
    top: 0;
}

/* cell text
   ~~~~~~~~~ */
.side a[title="Switch mode"] strong,
.titlebox .subscribe-button.toggle .option.active,
.titlebox .res-fancy-toggle-button {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 8px;
}

/* subscribe button text */
.subscribe-button.toggle .option.active:after {
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    bottom: 3px;
    left: 4px;
    opacity: 0.4;
    line-height: normal;
}
.subscribe-button.toggle:hover .option.active:after {
    opacity: 1;
}
.subscribe-button.toggle .option.active.remove:after {
    content: 'So long, Guardian';
}
.subscribe-button.toggle .option.active.add:after {
    content: 'Welcome home, Guardian';
}

/* main label text */
.side a[title="Switch mode"] strong,
.subscribers .number, .users-online .number {
    font-size: 17px;
    padding: 1px 3px;
    display: block;
    width: 100%;
    position: absolute;
    top: 5px;
    box-sizing: border-box;
}

/* sub label text */
.side a[title="Switch mode"] em,
.subscribers .word, .users-online .word {
    display: block;
    position: absolute;
    bottom: 3px;
    left: 3px;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    line-height: 7px;
}
.subscribers .word {
    padding-right: 10px;
}
.subscribers .word:before {
    content: 'Guardians hiding their vaults';
    font-size: 8px;
}
.users-online .word:before {
    content: 'Guardians protecting the Tower Ball';
    font-size: 8px;
}

/* top border
   ~~~~~~~~~~ */
.subscribers:before, .users-online:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    bottom: 100%;
    margin-bottom: 3px;
    background: #536FA1;
    width: 100%;
}
.subscribers:before {
    width: 105%;
}

/* background icon
   ~~~~~~~~~~~~~~~ */
.subscribers:after, .users-online:after, .subscribe-button.toggle .option.active:before {
    content: '';
    background: url(%%spritesheet%%) no-repeat -56px -86px / 1010px;
    width: 70px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0;
    opacity: 0.09;
}
.subscribe-button.toggle .option.active:before {
    background: url(%%spritesheet%%) no-repeat -228px -163px / 1850px;
    opacity: 0.05;
}

/* RES nightmode styling
   ~~~~~~~~~~~~~~~~~~~~~ */
:lang(dm) .subscribers,
:lang(dm) .users-online,
:lang(dm) .titlebox .subscribe-button.toggle .option.active,
:lang(dm) .titlebox .res-fancy-toggle-button,
:lang(dm) .side a[title="Switch mode"],
.res.res-nightmode .subscribers,
.res.res-nightmode .users-online,
.res.res-nightmode .titlebox .subscribe-button.toggle .option.active,
.res.res-nightmode .titlebox .res-fancy-toggle-button {
    background: hsl(226, 8%, 28%);
    color: #fff;
}
.res.res-nightmode .side .subscribers *,
.res.res-nightmode .side .users-online * {
    color: #fff !important;
}

:lang(dm) .subscribers:after,
:lang(dm) .users-online:after,
.res.res-nightmode .subscribers:after,
.res.res-nightmode .users-online:after {
    background-position: 6px -86px;
    opacity: 0.2;
}
:lang(dm) .subscribe-button.toggle .option.active:before,
.res.res-nightmode .subscribe-button.toggle .option.active:before {
    background-position: -302px -163px;
    opacity: 0.12;
}

/* DM switch
   ~~~~~~~~~~~~~~ */
.side a[title="Switch mode"] {
    position: absolute;
    top: 423px;
}
.side a[title="Switch mode"] strong {
    font-size: 10px;
    margin-top: 4px;
}
.side a[title="Switch mode"] em {
    font-size: 8px;
    line-height: 10px;
}

:lang(dm) .side a[title="Switch mode"][href^="https://d"] {
    display: none;
}
html:not(:lang(dm)) .side a[title="Switch mode"][href^="https://w"] {
    display: none;
}

html.res .side a[title="Switch mode"] {
    display: none !important;
}

/* positioning
   ~~~~~~~~~~~ */
.titlebox .subButtons,
body .titlebox > .fancy-toggle-button.subscribe-button {
    position: absolute;
    top: 423px;
    margin-right: 0;
    width: auto;
}
.subscribers, .users-online {
    position: absolute;
    top: 360px;
}
.users-online {
    margin-left: 152px;
}
.subscribers, .subscribe-button {
    right: 153px;
}
.side a[title="Switch mode"],
.users-online {
    right: 2px
}

/* linkinfo
--------------------------------------------------------------------------------*/

.linkinfo {
    width: 300px;
    margin-top: 4px;
    margin-bottom: 9px;
    padding: 0;
    height: auto;
    border: 0;
}

.linkinfo .date {margin-bottom: 10px;font-size:0;}
.linkinfo .date:after {
    content: 'Link Info';
    position: absolute;
    top: 0;
    left: 0;
}

.linkinfo .score,
.linkinfo .views {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    font-size: 12px;
    flex-wrap: wrap;
    padding: 0 10px;
}
.linkinfo .score .number,
.linkinfo .views .view-count {
    font-size: 30px;
}
.linkinfo .score .word,
.linkinfo .views .unit,
.linkinfo .shortlink {
    font-size: 10px;
    text-transform: uppercase;
    flex-grow: 1;
    margin-top: 6px;
    margin-left: 5px;
}

.linkinfo .shortlink {
    padding: 5px 10px 10px;
    margin-left: 0;
}
.linkinfo .shortlink input {
    display: block;
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    border: 0;
}

:lang(dm) .linkinfo .shortlink input,
.res.res-nightmode .linkinfo .shortlink input {
    background: rgba(255,255,255,0.06);
    color: #fff;
}


/* login-form-side
--------------------------------------------------------------------------------*/
.login-form-side {
    border: 0;
    margin-bottom: 10px;
}
.login-form-side .submit button[type=submit] {
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.login-form-side #remember-me, .login-form-side .submit {
    margin: 0 10px 5px;
}
:lang(dm) .login-form-side > input:not([type=hidden]),
.res.res-nightmode .login-form-side > input:not([type=hidden]) {
    background: rgba(255,255,255,.06);
    border: 0;
    color: #fff;
}

/* titlebox form toggles
--------------------------------------------------------------------------------*/
.side .titlebox .leavemoderator,
.side .titlebox form.toggle.leavecontributor-button  {
    order: 8;
    background: hsla(226,16%,89%,1);
    color: hsl(218,16%,60%) !important;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 8.5px;
}
html body .side .leavecontributor-button .option.active {
    color: inherit !important;
}
.leavemoderator ~ .leavecontributor-button  {
    margin-top: 0 !important;
}
.leavemoderator:before, .leavecontributor-button:before  {
    display: none !important;
}


.res .res-sr-style-toggle label,
.side .sr_style_toggle label,
.titlebox form.flairtoggle label {
    color: rgba(0,0,0,0.35);
}
.res .res-sr-style-toggle input[type=checkbox],
.sr_style_toggle input[type=checkbox],
.titlebox form.flairtoggle input[type=checkbox] {
    display: none;
}
.res .res-sr-style-toggle label:before,
.sr_style_toggle label:before,
.titlebox form.flairtoggle label:before {
    content: '✓';
    display: inline-block;
    font-weight: bold;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background: hsl(226,8%,70%);
    color: #eee;
    border-radius: 3px;
    margin-right: 5px;
}
#flair_enabled:not(:checked) ~ label:before {
    color: transparent;
}

.titlebox form.toggle, .titlebox .tagline {
    padding: 3px 10px;
    margin: 0;
}
.titlebox form.toggle:not(.leavecontributor-button):first-of-type,
.titlebox form.toggle.leavecontributor-button:first-of-type ~ form.toggle {
    padding-top: 10px;
}
body.res:not(.loggedin) .res-sr-style-toggle {
    padding-bottom: 10px;
}
.titlebox .tagline {
    padding: 3px 0 8px 30px;
}

:lang(dm) .res-sr-style-toggle label,
:lang(dm) .side .sr_style_toggle label,
:lang(dm) .titlebox form.flairtoggle label,
.res.res-nightmode .res-sr-style-toggle label,
.res.res-nightmode .side .sr_style_toggle label,
.res.res-nightmode .titlebox form.flairtoggle label {
    color: hsl(226,8%,70%);
}
:lang(dm) .res-sr-style-toggle label:before,
:lang(dm) .sr_style_toggle label:before,
:lang(dm) .titlebox form.flairtoggle label:before,
.res.res-nightmode .res-sr-style-toggle label:before,
.res.res-nightmode .sr_style_toggle label:before,
.res.res-nightmode .titlebox form.flairtoggle label:before {
    background: hsl(226,8%,25%);
    color: hsl(226,8%,60%);
}

/* time until destiny box
--------------------------------------------------------------------------------*/
.side .md > p a[href^="https://www.bungie.net/"] {
    display: block;
    background: url(%%D2Logo%%) no-repeat center / cover;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
}
:lang(dm) .side .md > p a[href^="https://www.bungie.net/"],
.res.res-nightmode .side .md > p a[href^="https://www.bungie.net/"] {
    border-color: transparent;
}
.side .md > h3:first-of-type {
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 15px;
    border-bottom: 0;
    margin-bottom: 0;
    background: #fff;
    margin-top: 5px;
}
.side .md > h3:first-of-type:before {
    background: #000;
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 5px;
}
.side .md > h3:first-of-type:after {
    background: #000;
    content: '';
    display: block;
    width: 130px;
    height: 1.5px;
    margin-top: 5px;
}

.side .md > h3:first-of-type + h3 {
    color: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px 15px;
    border-top: 0;
    margin-top: 0;
    background: #fff;
}
.side .md > h3:first-of-type + h3 a {
    color: #000;
    font-size: 20px;
}

:lang(dm) .side .md > h3:first-of-type + h3 a,
.res.res-nightmode .side .md > h3:first-of-type + h3 a {
    color: #fff;
}

:lang(dm) .side .md > h3:first-of-type,
:lang(dm) .side .md > h3:first-of-type + h3 ,
.res.res-nightmode .side .md > h3:first-of-type,
.res.res-nightmode .side .md > h3:first-of-type + h3 {
    color: #fff;
    border-color: #fff;
    background: rgba(0,0,0,0.5);
}
:lang(dm) .side .md > h3:first-of-type:before,
:lang(dm) .side .md > h3:first-of-type:after,
.res.res-nightmode .side .md > h3:first-of-type:before,
.res.res-nightmode .side .md > h3:first-of-type:after {
    background: #fff;
}


/* sidebar rules
--------------------------------------------------------------------------------*/
.side .md h1:first-of-type + ol {
    padding: 20px 25px 20px 40px;
    text-align: justify;
    margin: 0;
    line-height: 21px;
}
.side .md h1:first-of-type + ol li {
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 5px;
}

.side .md h1:first-of-type + ol + p {
    background: hsl(227, 16%, 82%);
    margin: 0;
}

:lang(dm) .side .md h1:first-of-type + ol + p,
.res.res-nightmode .side .md h1:first-of-type + ol + p {
    background: hsl(227, 16%, 26%);
}

.side .md h1:first-of-type + ol + p a {
    color: hsl(227, 16%, 22%);
    text-transform: uppercase;
    text-align: center;
    display: block;
    line-height: 28px;
    letter-spacing: 3px;
    opacity: 0.8;
}

:lang(dm) .side .md h1:first-of-type + ol + p a,
.res.res-nightmode .side .md h1:first-of-type + ol + p a {
    color: #fff;
}

.side .md h1:first-of-type + ol + p a:hover {
    opacity: 1;
}

.side .md > h4 {
    font-size: 13px;
    padding: 10px 40px;
}

/* spoiler formatting box
--------------------------------------------------------------------------------*/
.side .md > h2:last-of-type {
    background: hsl(227, 16%, 82%);
    color: hsl(227, 16%, 22%);
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 13px;
    line-height: 28px;
}
:lang(dm) .side .md > h2:last-of-type,
.res.res-nightmode .side .md > h2:last-of-type {
    background: hsl(227, 16%, 26%);
    color: #fff;
}
.side .md > h2:last-of-type + p,
.side .md > h2:last-of-type + p + hr + p {
    margin: 0;
    padding: 5px 10px;
}
.side .md > h2:last-of-type + p {
    padding-top: 10px;
}
.side .md > h2:last-of-type + p + hr + p {
    padding-bottom: 10px;
}

/* sidecontentbox
--------------------------------------------------------------------------------*/
.sidecontentbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sidecontentbox > * {
    order: 1;
}
.sidecontentbox .content {
    border: 0;
}

.sidebox.create .morelink .nub,
.sidebox.create .spacer {
    display: none;
}

.sidecontentbox .more a {
    color: #20232c;
    text-transform: uppercase;
    font-size: 8px;
    opacity: 0.7;
}
:lang(dm) .sidecontentbox .more a,
.res.res-nightmode .sidecontentbox .more a {
    color: #fff;
}
.sidecontentbox .more a:hover {
    opacity: 1;
}
.sidecontentbox a.helplink, .sidebox.create .morelink {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    float: none;

    border: 1px solid #000;
    color: #000;
    background: transparent;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    transition: all 300ms ease;
}
.sidebox.create .morelink a {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 0;
}
.sidebox.create .morelink a:before {
    content: 'Create A Subreddit';
    display: block;
    font-size: 13px;
    font-weight: 500;
}
.sidecontentbox a.helplink {
    margin-top: -4px;
    margin-bottom: 15px;
    font-weight: 500;
}
.sidecontentbox a.helplink:hover, .sidebox.create .morelink:hover {
    color: #fff;
    background: #000;
}
.sidebox.create .morelink:hover a {
    color: #fff;
}

:lang(dm) .sidecontentbox a.helplink,
:lang(dm) .sidebox.create .morelink,
:lang(dm) .sidebox.create .morelink a,
.res.res-nightmode .sidecontentbox a.helplink,
.res.res-nightmode .sidebox.create .morelink,
.res.res-nightmode .sidebox.create .morelink a {
    color: #fff;
    border-color: #fff;
}
:lang(dm) .sidecontentbox a.helplink:hover,
:lang(dm) .sidebox.create .morelink:hover,
.res.res-nightmode .sidecontentbox a.helplink:hover,
.res.res-nightmode .sidebox.create .morelink:hover {
    color: #000;
    background: #fff;
}
:lang(dm) .sidebox.create .morelink:hover a,
.res.res-nightmode .sidebox.create .morelink:hover a {
    color: #000;
}

.gadget .midcol {
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.res.res-nightmode .side .reddit-entry .score,
:lang(dm) .side .reddit-entry .score {
    color: rgb(153, 153, 153) !important;
}

/********************************************************************************
* LINK LISTING
*********************************************************************************/

.content[role=main] {
    margin-left: 0;
    margin-right: 315px;
    border-top: 0;
    margin-top: -10px;
}
.content[role=main] .spacer {
    margin: 0;
}
.content > .menuarea {
    overflow: visible !important;
    border-bottom: 0;
    margin: 0;
    padding: 10px 0 5px 10px;
    letter-spacing: 0.5px;
}
body.mod-toolbox .menuarea.modtools {
    margin-right: 0 !important;
}

.organic-listing {
    background-color: transparent !important;
    border: 0;
    margin: 0;
}

.content[role=main] .drop-choices.lightdrop a.choice {
    display: flex;
    justify-content: space-between;
}

/* Infobars
--------------------------------------------------------------------------------*/
.content[role=main] > .infobar {
    margin-right: 0;
}

.infobar.redesignbetabar .md {
    color: black;
}

/* standard infobar */
.content[role=main] .reddit-infobar {
    border-right: 0;
    border-color: hsla(222,16%,80%,1);
}

.res.res-nightmode .content[role=main] .reddit-infobar,
:lang(dm) .content[role=main] .reddit-infobar {
    background: #2c313e;
    border-color: #111317;
}
.res.res-nightmode .archived-infobar.with-icon:before {
    opacity: 0.5;
}

/* listingsignupbar */
.infobar.listingsignupbar {
    margin: 0 !important;
}
a.listingsignupbar__close {
    color: black !important;
}

/* Never Ending Reddit (RES)
--------------------------------------------------------------------------------*/
.res #progressIndicator, .res .NERPageMarker {
    border-radius: 0;
    border-top-color: #e5e6e9;
    border-bottom-color: #d0d1d5;
    border-left-color: #dfe0e4;
    border-right-color: #dfe0e4;
    background: white;
}
.res #progressIndicator {
    margin-top: 10px;
}

.res div#progressIndicator {
    border: 1.5px dashed hsla(0, 0%, 65%, 0.3);
    border-radius: 3px;
    background: transparent;
    background: #f6f6f6;
    margin: 20px;
    padding: 10px 0;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto",arial,sans-serif;
}

#progressIndicator h2 {
    color: #a5a5a5;
    text-transform: uppercase;
    font-size: 12px;
}
#progressIndicator p {
    font-size: 12px;
    color: #a5a5a5;
}
#progressIndicator a {
    color: #858585;
}
#progressIndicator .gearIcon {
    position: absolute;
    opacity: 0.35;
    transform: scale(0.8);
    transform-origin: left top;
}

:lang(dm) div#progressIndicator,
:lang(dm) .res .NERPageMarker,
.res.res-nightmode div#progressIndicator,
.res.res-nightmode .NERPageMarker {
    background: rgba(255,255,255,0.05);
    border-color: hsla(0,0%,65%,0.2);
}

.res .NERPageMarker {
    border-left: 0;
    border-right: 0;
}


/* Nav buttons
--------------------------------------------------------------------------------*/
.nav-buttons {
    padding: 10px 20px;
}
.nextprev, .prev-button, .next-button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.prev-button a, .next-button a {
    border-radius: 0;
    background: #fff;
    border: 1px solid #000 !important;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 26px;
    height: 26px;
    padding: 0 10px;
    margin-left: 10px;
}
.nav-buttons .separator {
    display: none;
}
.prev-button a:hover, .next-button a:hover {
    background: #000;
    color: #fff;
}
:lang(dm) .prev-button a,
:lang(dm) .next-button a,
.res.res-nightmode .prev-button a,
.res.res-nightmode .next-button a {
    border: 1px solid #fff !important;
    color: #fff;
    background: transparent;
}
:lang(dm) .prev-button a:hover,
:lang(dm) .next-button a:hover,
.res.res-nightmode .prev-button a:hover,
.res.res-nightmode .next-button a:hover {
    background: #fff;
    color: #000;
}

/********************************************************************************
* COMMON THING
*********************************************************************************/

.thing > input[type=checkbox] {
    min-width: 14px;
}

.gilded-icon:before {
    background: url(%%spritesheet%%) 0 -29px / 200px;
    height: 17px;
    width: 16px;
    transform: scale(1.2);
}
.listing-page .gilded-icon:before {
    transform: scale(0.75);
    margin-right:0;
}

/********************************************************************************
* LINK
*********************************************************************************/

.link.last-clicked {
    border: 0;
}
.link, .link.last-clicked, .link.promotedlink.promoted {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 0;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid rgba(30,36,43,0.2);
    border-top: 1px solid hsla(222,16%,90%,1);
    box-shadow: -1px 1px 2px hsla(222,16%,90%,1);
    min-height: 82px;
}
.link.promotedlink.promoted {
    margin-top: 0;
}

:lang(dm) .link,
:lang(dm) .link.promotedlink.promoted,
.res.res-nightmode .link,
.res.res-nightmode .link.promotedlink.promoted {
    background: hsl(225, 16%, 21%);
    border-bottom: 1px solid rgba(30,36,43,0.1);
    border-top: 1px solid hsla(222,10%,14%,1);
    box-shadow: -1px 1px 2px hsla(222,10%,10%,1);
}
.link .parent {
    display: none;
}
.link .thumbnail {
    order: 1;
}
.link .midcol {
    order: 0;
    width: 40px !important;
    flex-basis: 40px;
    min-width: 40px;
    padding-top: 10px;
}
.link .entry, .res .link .entry {
    order: 2;
    flex: 1 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    background-color: transparent !important;
}
.link .child {
    width: 100%;
    order: 3;
}
.action-reason {
    flex: 1 0;
    width: 100%;
    order: 4;
}

.link .domain {
    font-size: 0;
}
.link .domain a {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    bottom: 4px;
    color: rgba(0,0,0,0.3);
}

:lang(dm) .link .domain a,
.res.res-nightmode .link .domain a {
    color: rgba(255,255,255,0.2);
}
.res.listing-page .link .entry.RES-keyNav-activeElement {
    border-right: 2px solid #007FB3!important;
    margin-right: -2px;
}

/* RANK
--------------------------------------------------------------------------------*/
.link .rank {
    font-size: 10px;
    padding: 20px 3px 0;
    text-align: center;
}
:lang(dm) .link .rank,
.res.res-nightmode .link .rank {
    opacity: 0.5;
    color: #c6c6c6;
}
/* MIDCOL/SCORE
--------------------------------------------------------------------------------*/
.link .midcol {
    display: block;
    position: relative;
    background: hsla(222,16%,95.5%,1);
    margin: 0;
}

:lang(dm) .link .midcol,
.res.res-nightmode .link .midcol {
    background: rgba(255,255,255,0.02);
}

.link .score {
    color: #000;
}
.link .score.dislikes {
    color: #6eb7e2;
}
.link .score.likes {
    color: #f5806b;
}

:lang(dm) .comment .tagline .score,
.res.res-nightmode .comment .tagline .score,
:lang(dm) .link .midcol .score,
.res.res-nightmode .link .midcol .score {
    color: hsla(222,10%,75%,1);
}

.thing .arrow {
    width: 20px;
    height: 20px;
}
.thing .arrow.up {
    background: url(%%spritesheet%%) -93.75px 0 / 238.75px !important;
}
.thing .arrow.upmod {
    background: url(%%spritesheet%%) -93.75px -20px / 238.75px !important;
}
.thing .arrow.down {
    background: url(%%spritesheet%%) -73.75px 0 / 238.75px !important;
}
.thing .arrow.downmod {
    background: url(%%spritesheet%%) -73.75px -20px / 238.75px !important;
}

:lang(dm) .thing .arrow.up,
.res.res-nightmode .thing .arrow.up {
    background-position: -93.75px -40px !important;
    opacity: 0.8;
}

:lang(dm) .thing .arrow.down,
.res.res-nightmode .thing .arrow.down {
    background-position: -73.75px -40px !important;
    opacity: 0.8;
}
/* the !important's above are to tell RES to fuck off */

/* LINKTITLE
--------------------------------------------------------------------------------*/
.link .title {
    color: hsl(197, 100%, 25%);
    overflow-wrap: break-word;
    margin-right: 0;
}
.link p.title {
    overflow: visible;
    position: relative;
    margin-bottom: 5px;
}
.thing.link.stickied a.title {
    font-weight: normal;
}

/* visited color */
.link .title.visited,
.link .title:visited {
    color: hsl(283, 44%, 35%);
}
:lang(dm) .thing.link .title:visited,
:lang(dm) .thing.link .title.visited,
.res-nightmode .thing.link .title:visited,
.res-nightmode .thing.link .title.visited {
    color: hsl(283,10%,62%);
}

/* nightmode color */
:lang(dm) .thing.link .title,
.res-nightmode .thing.link .title {
    color: hsl(222, 10%, 80%);
}

/* nightmode stickied color */
:lang(dm) .thing.stickied.link .title,
:lang(dm) .tagline .stickied-tagline,
.res.res-nightmode .thing.stickied.link .title,
.res.res-nightmode .tagline .stickied-tagline {
    color: hsl(120, 30%, 60%);
}

/* spoiler title
--------------------------------------------------------------------------------*/
.link.spoiler a.title {
    color: transparent !important;
    background: hsl(227, 16%, 92%);
    transition: all 0ms linear 50ms
}
:lang(dm) .link.spoiler a.title,
.res-nightmode .link.spoiler a.title {
    background: hsl(227, 16%, 10%);
}
.link.spoiler a.title:hover {
    color: inherit !important;
    background: transparent !important;
}
.link.spoiler a.title:visited:hover {
    color: hsla(283, 10%, 62%,1) !important;
}
html:not(:lang(dm)):not(.res-nightmode) .link.spoiler a.title:visited:hover {
    color: hsl(283, 44%, 35%) !important;
}

/* flat-list and tagline
--------------------------------------------------------------------------------*/
.link .flat-list {
    overflow: hidden;
    padding-left: 5px;
}
.link .flat-list li a {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.1px;
}
.link .flat-list li a:hover {
    color: #b78c25;
}

.link .tagline {
    padding-left: 5px;
    line-height: 13px;
    overflow: hidden;
    margin-bottom: -1px;
}
.comments-page .link .tagline {
    overflow: visible;
}

.res.res-nightmode .link .flat-list li a,
:lang(dm) .link .flat-list li a,
.link .flat-list li a,
.link .tagline {
    color: hsla(222,10%,50%,1);
    font-weight: 600;
    font-size: 9px;
}
.link .tagline {
    font-size: 11px;
    font-weight: normal;
}

body.mod-toolbox .link .tb-bracket-button,
body.mod-toolbox .comment .tb-bracket-button {
    background: hsla(222,10%,95%,1);
    border-color: hsla(222,10%,85%,1);
    padding: 1px 2px;
    color: hsla(222,10%,65%,1);
    font-weight: 600;
}

:lang(dm) body.mod-toolbox .thing .tb-bracket-button,
.res.res-nightmode body.mod-toolbox .thing .tb-bracket-button {
    background: hsla(222,10%,20%,1);
    border-color: hsla(222,10%,16%,1);
    color: hsla(222,10%,45%,1);
}

.stamp {
    border-radius: 0;
    line-height: 12px;
    height: 14px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
}

.link.over18.spoiler .buttons li:first-child {
    padding-right: 0;
}

.stamp.spoiler-stamp {
    opacity: 0.8;
}

/* hide user flairs in links */
.link .tagline .flair {
    display: none;
}

/* expando button
--------------------------------------------------------------------------------*/
.expando-button {
    background: 0 !important;
    border-radius: 0 !important;
    border: 1px solid hsla(222,16%,25%,1) !important;
    height: 16px !important;
    width: 16px !important;
    margin: 4.5px 3px 0 1px;
    position: relative;
    transition: all 200ms ease;
    opacity: 0.4;
}

:lang(dm) .expando-button,
.res.res-nightmode .expando-button {
    border-color: #fff !important;
}

.expando-button:before,
.expando-button:after {
    content: '';
    display: block;
    position: absolute;
    width: 9px !important;
    height: 2px !important;
    background: hsla(222,16%,25%,1) !important;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 200ms ease;
}
.expando-button:after {
    transform: rotate(90deg);
}

:lang(dm) .expando-button:before,
:lang(dm) .expando-button:after,
.res.res-nightmode .expando-button:before,
.res.res-nightmode .expando-button:after {
    background: #fff !important;
}

.expando-button:hover,
.expando-button.expanded {
    border-color: #b78c25 !important;
    opacity: 1;
}
.expando-button:hover:before,
.expando-button.expanded:before,
.expando-button:hover:after,
.expando-button.expanded:after {
    background: #b78c25 !important;
}

.expando-button.expanded:after {
    display: none;
}

/* thumbnails
--------------------------------------------------------------------------------*/
.link .thumbnail {
    display: block;
    height: auto;
    flex-basis: 116px;
    min-width: 116px;
    box-sizing: border-box;
    padding: 13px 10px 0 10px;
    background: 0 !important;
    position: relative;
    margin: 0;
    max-height: 80.67px;
}
.link .thumbnail:after {
    content: '';
    display: block;
    position: relative;
    z-index: 1;
	height: 56px;
	width: 96px;
    opacity: 0.9;
    transition: opacity 200ms;
}
.link .thumbnail img {
    display: none !important;
}

.link .thumbnail:hover:after,
.link.RES-keyNav-activeThing .thumbnail:after {
    opacity: 0.7;
}

.link.promoted .thumbnail:after {
    display: none;
}
.link.promoted .thumbnail img {
    display: block !important;
    margin: 0 auto;
}

/* LINKFLAIR
--------------------------------------------------------------------------------*/
.link .title > .linkflairlabel {
    background: 0;
    border: 0;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 3px;
    opacity: .65;
    max-width: initial;
}
.link .title > a.title:before {
    content: '';
    display: block;
}
.link:not(.linkflair) p.title {
    margin-top: 22.5px;
}
.link:hover .title > .linkflairlabel {
    opacity: 1;
}

.linkflair-discussion .title > .linkflairlabel {
    color: #003368;
}
.linkflair-question .title > .linkflairlabel {
    color: #145b4e;
}
.linkflair-guide .title > .linkflairlabel {
    color: #2b4131;
}
.linkflair-sga .title > .linkflairlabel {
    color: #fc544d;
}
.linkflair-lore .title > .linkflairlabel {
    color: #373265;
}
.linkflair-media .title > .linkflairlabel {
    color: #7e221e;
}
.linkflair-bungieplz .title > .linkflairlabel {
    color: #ca7935;
}
.linkflair-misc .title > .linkflairlabel {
    color: hsl(39, 7%, 35%);
}
.linkflair-datamine .title > .linkflairlabel {
    color: #39164c;
}


:lang(dm) .linkflair-discussion .title > .linkflairlabel,
.res.res-nightmode .linkflair-discussion .title > .linkflairlabel {
    color: hsl(211, 50%, 50%);
}
:lang(dm) .linkflair-question .title > .linkflairlabel,
.res.res-nightmode .linkflair-question .title > .linkflairlabel {
    color: hsl(169, 64%, 35%);
}
:lang(dm) .linkflair-guide .title > .linkflairlabel,
.res.res-nightmode .linkflair-guide .title > .linkflairlabel {
    color: hsl(136, 20%, 45%);
}
:lang(dm) .linkflair-sga .title > .linkflairlabel,
.res.res-nightmode .linkflair-sga .title > .linkflairlabel {
    color: hsl(2, 75%, 55%);
}
:lang(dm) .linkflair-lore .title > .linkflairlabel,
.res.res-nightmode .linkflair-lore .title > .linkflairlabel {
    color: hsl(246, 34%, 65%);
}
:lang(dm) .linkflair-media .title > .linkflairlabel,
.res.res-nightmode .linkflair-media .title > .linkflairlabel {
    color: hsl(2, 62%, 60%);
}
:lang(dm) .linkflair-bungieplz .title > .linkflairlabel,
.res.res-nightmode .linkflair-bungieplz .title > .linkflairlabel {
    color: hsl(27, 58%, 50%);
}
:lang(dm) .linkflair-misc .title > .linkflairlabel,
.res.res-nightmode .linkflair-misc .title > .linkflairlabel {
    color: hsl(39, 7%, 55%);
}
:lang(dm) .linkflair-datamine .title > .linkflairlabel,
.res.res-nightmode .linkflair-datamine .title > .linkflairlabel {
    color: #6699cc;
}

/* linkflair filter */
:lang(nd) .linkflair-discussion,
:lang(nm) .linkflair-media,
:lang(nq) .linkflair-question,
:lang(ns) .linkflair-bungieplz,
:lang(ng) .linkflair-guide,
:lang(ne) .linkflair-news,
:lang(na) .linkflair-sga,
:lang(nc) .linkflair-misc,
:lang(nr) .linkflair-lore,
:lang(nt) .linkflair-megathread,
:lang(ni) .linkflair-datamine {
	display: none
}

/* FLAIR SELECTOR
--------------------------------------------------------------------------------*/
.flairselector {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    padding: 0 !important;
    background: rgba(0,0,0,0.9) !important;
    border: 0 !important;
    box-shadow: none;
}
.flairselector h2 {
    background: hsla(274,22%,26%,0.9) !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 32px;
    margin-bottom: 10px;
}
.flairselector .linkflairlabel {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 142px;
    box-sizing: border-box;
    text-align: left;
    padding: 2px 5px;
    letter-spacing: 2px;
    margin-bottom: 3px;
    border: 0;
    background: #282A2C;
    border-radius: 0;
    color: white;
    opacity: 0.8;
}
.flairselector li:hover {
    background: 0 !important;
}
.flairselector li:hover .linkflairlabel {
    opacity: 1;
}
.flairselector .title {
    display: none;
}

.flairselector form {
    border-top: 1px solid #4A4C4D;
    margin: 5px 10px 10px;
}
.flairselector form input[type=text] {
    color: white;
    border: 1px solid white;
    background: transparent;
    padding: 2px 4px;
    box-sizing: border-box;
}
.flairselector form button {
    border: 1px solid white;
    background: transparent;
    color: white;
    border-bottom-width: 4px;
}
.link .flairselector .flairoptionpane {
     height: auto !important;
     overflow: visible !important;
}

/* userflair flairselector
--------------------------------------------------------------------------------*/
.tagline .flairselector {
    background: #fff !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.tagline .flairselector li {
    background: #eee;
    padding: 4px;
    border: 0;
    margin-bottom: 2px;
}
.tagline .flairselector li:hover {
    background: #e0e0e0 !important;
}
.tagline .flairselector form input[type=text] {
    color: #000;
    border-color: #000;
}
.tagline .flairselector form button {
    border-color: #000;
    color: #000;
}

/* misc
--------------------------------------------------------------------------------*/
.link .gold-wrap {
    padding: 10px 0 0 165px;
    border-top: 1px solid #e3e3e3;
    margin-top: 0;
}

/********************************************************************************
* MARKDOWN / USERTEXT
*********************************************************************************/

/* container
--------------------------------------------------------------------------------*/
.expando .form-bar {
    display: block;
    float: none;
}
.expando-gate__text {
    padding-bottom: 10px;
}
.link.self .expando-gate, .link .usertext-body .md {
    border-radius: 0;
}
.link .usertext-body .md {
    border: 0;
    background: hsla(222,16%,97%,1);
    border: 1px solid hsla(222,16%,90%,1);
}
:lang(dm) .link .usertext-body .md,
.res.res-nightmode .link .usertext-body .md {
    border: 0;
    background: hsla(222,15%,18%,1);
    border: 1px solid hsla(222,15%,17%,1);
}

.comment .md > blockquote {
    overflow: hidden;
}

/* markdown
--------------------------------------------------------------------------------*/
.md blockquote {
    border-left: 2px solid #c6c6c6;
    padding: 0 10px;
    margin: 10px 0;
}
.md blockquote blockquote {
    margin: 5px 0;
}

.md code, .md pre {
    border: 1px solid hsla(222,16%,94%,1);
}
.md pre code {
    font-size: 13px;
}
.md hr {
    height: 1px;
    background: hsla(222,16%,80%,1);
}
:lang(dm) .md hr,
.res.res-nightmode .md hr {
    background: hsla(222,16%,27%,1);
}

.thing .md a {
    color: #007FB3;
}
.thing .md a:hover {
    color: #49f;
}

:lang(dm) .md,
:lang(dm) .md blockquote {
    color: rgb(221,221,221);
}
:lang(dm) .md :not(pre) > code,
:lang(dm) .md pre {
    color: inherit;
    background-color: rgb(42, 51, 64);
    border-color: rgb(88, 105, 123);
}

:lang(dm) .md del {
    color: rgb(140, 140, 140);
}

html:not(:lang(dm)):not(.res-nightmode) a[href="#spoiler"],
html:not(:lang(dm)):not(.res-nightmode) a[href="#s"],
html:not(:lang(dm)):not(.res-nightmode) a[href="/s"],
html:not(:lang(dm)):not(.res-nightmode) a[href="/spoiler"] {
    background: #333;
}
html:not(:lang(dm)):not(.res-nightmode) a[href="#spoiler"]:after,
html:not(:lang(dm)):not(.res-nightmode) a[href="#s"]:after,
html:not(:lang(dm)):not(.res-nightmode) a[href="/s"]:after,
html:not(:lang(dm)):not(.res-nightmode) a[href="/spoiler"]:after {
    color: #333;
}

a[href="#spoiler"],
a[href="#s"],
a[href="/s"],
a[href="/spoiler"] {
    display: inline-block;
    background-color: #000;
    color: white !important;
    border-radius: 2px;
    padding: 0 1px;
}

a[href="#spoiler"]:after, a[href="#s"]:after,
a[href="/s"]:after, a[href="/spoiler"]:after {
    content: attr(title);
    display: inline-block;
    padding-left: 3px;
    color: #000;
}

a[href="#spoiler"]:hover:after,
a[href="#s"]:hover:after,
a[href="/s"]:hover:after,
a[href="/spoiler"]:hover:after {
    transition-delay: 100ms;
    color: #fff!important;
}
a[href="/s"]:active,
a[href="/spoiler"]:active {
    pointer-events: none;
}

.res a[href="#spoiler"] + .keyNavAnnotation,
.res a[href="#s"] + .keyNavAnnotation,
.res a[href="/s"] + .keyNavAnnotation,
.res a[href="/spoiler"] + .keyNavAnnotation {
    display: none;
}

/* editor
--------------------------------------------------------------------------------*/
.usertext button.save, .usertext button.cancel {
    background: #0098D3;
    border: 0;
    color: #fff;
    font-size: 10px;
    line-height: 24px;
    padding: 0 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: opacity 200ms ease;
}
.usertext button.cancel {
    background: #999;
}
.usertext button.save:hover, .usertext button.cancel:hover {
    opacity: 0.8;
}

:lang(dm) .usertext button.save,
.res.res-nightmode .usertext button.save {
    background: hsl(197, 100%, 35%);
}


.usertext textarea {
    background: rgba(71,87,104,0.08);
    border: 0;
}
:lang(dm) .usertext textarea,
.res.res-nightmode .usertext textarea {
    background: rgba(255,255,255,0.08) !important;
    color: rgb(204, 204, 204);
}
.res button.RESBigEditorPop {
    color: #369;
    border: 0;
    display: inline-block;
    background: 0;
    margin-top: 2px;
}
:lang(dm) button.RESBigEditorPop,
.res.res-nightmode button.RESBigEditorPop {
    color: rgb(140, 179, 217);
}


/* RES EDITOR
--------------------------------------------------------------------------------*/
/* wrapper */
.res .markdownEditor-wrapper {
    position: relative;
    width: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* edit button bar */
.res .markdownEditor {
    padding: 5px 5px 2px 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-bottom: 0;
    order: 2;
    width: 100%;
    min-width: 500px;
    box-sizing: border-box;
}
:lang(dm) .markdownEditor,
:lang(dm) .markdownEditor .edit-btn:not(.btn-macro),
.res.res-nightmode .markdownEditor,
.res.res-nightmode .markdownEditor .edit-btn:not(.btn-macro) {
    background-color: hsl(225, 10%, 35%);
}

/* edit button - no borders */
.res .markdownEditor .edit-btn:not(.btn-macro) {
    border: 0;
}

/* char count */
.res .RESCharCounter {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
:lang(dm) .RESCharCounter,
.res.res-nightmode .RESCharCounter {
    color: #000;
}

/* speaking as */
.res .commentingAs {
    order: 0;
    float: left;
    font-weight: normal;
    color: rgba(0,0,0,0.45);
    font-size: 12px;
    padding-left: 5px;
    margin: 10px 0 9px;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
    flex-grow: 1;
}
:lang(dm) .commentingAs,
.res.res-nightmode .commentingAs {
    color: #999;
}

/* macro thing */
.RESMacroWrappingSpan {
    order: 1;
    float:right;
    margin: 10px 0 9px !important;
    font-family: Calibri, Segoe, "Segoe UI", Verdana, Arial, sans-serif;
}

.res .RESMacroDropdownTitle {
    background-image: none;
    position: relative;
}

.res .RESMacroDropdownTitle:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,0.25);
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-left: 5px;
}
:lang(dm) .RESMacroDropdownTitle:after,
.res.res-nightmode .RESMacroDropdownTitle:after {
    border-top-color: #555;
}

/* md edit area */
.res .markdownEditor-wrapper + .md {
    margin-top: 0;
    padding: 0;
}

.res .markdownEditor-wrapper + .md textarea {
    padding-top: 3px;
}

/* live preview */
.res .RESDialogSmall.livePreview {
    margin-top: 10px;
}

/* big editor stuff */
.res #BigText {
    box-sizing: border-box;
}

.res.RESScrollLock #NREFloat {
    right: 80px;
    top: 23px;
}

/********************************************************************************
* COMMENT PAGE
*********************************************************************************/
.comments-page #siteTable .link,
.commentarea .menuarea, commentarea .panestack-title {
    margin: 0;
}
.commentarea > .sitetable {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-bottom: 8px;
}
.commentarea > .sitetable,
.comments-page:before {
    background: hsl(227, 14%, 86%);
}
:lang(dm) .commentarea > .sitetable,
.res.res-nightmode .commentarea>.sitetable,
:lang(dm) .comments-page:before,
.res.res-nightmode .comments-page:before {
    background: hsla(227,14%,13%,1);
}

/* panestack-title */
.panestack-title {
    margin: 0 10px 0;
    padding-top: 10px;
    border: 0;
}
.panestack-title .title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    display: inline-block;
    margin-right: 20px;
}
.panestack-title .title:before {
    background: #000;
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 5px;
}
.panestack-title .title:after {
    background: #000;
    content: "";
    display: block;
    width: 100%;
    padding-right: 5px;
    height: 1.5px;
    margin-top: 5px;
}
:lang(dm) .panestack-title .title:before,
:lang(dm) .panestack-title .title:after,
.res.res-nightmode .panestack-title .title:before,
.res.res-nightmode .panestack-title .title:after {
    background: #fff;
}

/* menuarea */
.commentarea .menuarea {
    margin: 0 10px;
}
body:not(.loggedin) .commentarea .menuarea {
    margin-bottom: 10px;
}
.commentarea .menuarea, .commentarea .menuarea .spacer, .commentarea .menuarea form {
}
.commentarea .menuarea .dropdown-title {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.commentarea .menuarea .dropdown.lightdrop .selected {
    color: #b78c25;
    text-transform: uppercase;
    text-decoration: none;
    background: 0;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 3px;
}
.commentarea .menuarea .dropdown.lightdrop .selected:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    border-top: 3px solid #b78c25;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.commentarea .menuarea .toggle a {
    color: #333;
}
.menuarea .spacer:last-child {
    position: relative;
    top: -2px;
    margin-left: 10px;
}

:lang(dm) .panestack-title .title,
.res.res-nightmode .panestack-title .title,
:lang(dm) .commentarea .menuarea .dropdown-title,
.res.res-nightmode .commentarea .menuarea .dropdown-title {
    color: #fff;
}

:lang(dm) .commentarea .menuarea .toggle a,
.res.res-nightmode .commentarea .menuarea .toggle a {
    color: #fff;
    opacity: 0.8;
}

body.mod-toolbox .tb-loadFlat.tb-general-button, .res .res-commentNavToggle,
.panestack-title a.title-button {
    border: 0;
    background: 0;
    color: #AAA;
    font-size: 11px;
    padding: 0;
    margin-right: 5px;
}
.panestack-title a.title-button.gold {
    background: 0;
}

/* comment-visits-box */
.gold-accent.comment-visits-box {
    margin: 0;
    border-radius: 0;
    max-width: none !important;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    color: #b78c25;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    padding-left: 16px;
}
.gold-accent.comment-visits-box .title {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 5px;
}
.gold-accent.comment-visits-box select {
    margin-left: 5px;
    border-color: hsl(42, 38%, 75%);
    color: hsl(42, 66%, 30%);
    text-transform: uppercase;
    font-size: 11px;
    padding: 2px 1px;
}
.gold-accent.comment-visits-box .tb-general-button {
    border: 0;
    background: 0;
}

:lang(dm) .gold-accent.comment-visits-box select,
.res.res-nightmode .gold-accent.comment-visits-box select {
    background: rgba(255,255,255,0.05);
    color: hsla(42,38%,75%,1);
    border-color: transparent;
}
:lang(dm) .gold-accent.comment-visits-box .tb-general-button,
.res.res-nightmode .gold-accent.comment-visits-box .tb-general-button {
    opacity: 0.3;
}
:lang(dm) .gold-accent.comment-visits-box .tb-general-button:hover,
.res.res-nightmode .gold-accent.comment-visits-box .tb-general-button:hover {
    background: 0;
    opacity: 1;
}

/* permalink page */
.comment-permalink-page .commentarea > .menuarea {
    padding-top: 15px;
    margin-left: 15px;
}
.comment-permalink-page .commentarea > .infobar {
    margin: 10px 305px 10px 15px;
    border: 0;
    background: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
}

:lang(dm) .comment-permalink-page .commentarea > .infobar,
.res.res-nightmode .comment-permalink-page .commentarea > .infobar {
    background: rgba(255,255,255,0.03);
    color: #fff;
}

/* commentsignupbar */
.infobar.commentsignupbar {
    background: transparent !important;
}
.res.res-nightmode .commentsignupbar__container {
    background: transparent;
}
.res.res-nightmode .commentsignupbar__textarea {
    background: rgba(255,255,255,.08)!important;
    border-color: rgba(255,255,255,0.15);
}

.res-nightmode .commentsignupbar__container .commentsignupbar__title,
.res-nightmode .commentsignupbar__container .commentsignupbar__desc {
    color: #ccc !important;
}

/********************************************************************************
* COMMENTS
*********************************************************************************/
.comment, .res.res-commentBoxes .comment {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    padding: 5px 0 1px 20px !important;
    border: 0 !important;
    border-left: 2px solid hsl(227, 5%, 85%)!important;
    border-radius: 0!important;
    overflow: visible !important;
}
.comment .entry {
    overflow: visible;
    flex: 1 0;
    max-width: calc(100% - 35px);
}
.comment .child, .comment .parent {
    width: 100%;
}

.comment .midcol {
    width: 20px;
}

.morecomments {
    margin-left: 13px;
}
.morecomments a {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI",Arial,Helvetica,sans-serif;
    letter-spacing: .5px;
}

.comment .entry .buttons li a {
    color: hsla(222,10%,50%,1);
    font-weight: 600;
    font-size: 9px;
}
.comment .entry .buttons li a:hover {
    color: #b78c25;
}

/* removed comment */
.comment.spam > .entry .usertext-body {
    background: #fa8072;
}

/* new comment */
.comment .usertext-body {
    margin-right: 5px;
}
:lang(dm) .new-comment .usertext-body {
    background-color: rgb(26, 33, 53);
    border-color: rgb(36, 43, 63);
}

/* deleted comment */
:lang(dm) .usertext.grayed .usertext-body,
:lang(dm) .usertext.border .usertext-body {
    background-color: rgb(68, 68, 68);
}

/* RES Override
--------------------------------------------------------------------------------*/
html.res body.res .RES-keyNav-activeElement,
html.res body.res .RES-keyNav-activeElement .md-container,
html.res body.res.res-nightmode .RES-keyNav-activeElement,
html.res body.res.res-nightmode .RES-keyNav-activeElement .md-container {
    background: transparent !important;
}
.res .comment .entry.RES-keyNav-activeElement {
    border-right: 2px solid #007FB3!important;
    margin-right: -2px;
}

/* Comment expand button
--------------------------------------------------------------------------------*/
.comment .expand {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16px;
    text-align: center;
    padding-top: 3px;
    text-decoration: none !important;
    color: #999;
    font-size: 9px;
}
.comment .expand:hover {
    background: #b78c25;
    color: #fff !important;
}

/* margins
--------------------------------------------------------------------------------*/

.comment.spam > .child,
.comment .child {
    padding: 0;
    background: transparent;
    border: 0;
    margin: 8px 0 8px 10px;
}

/* top level comments */
.comments-page .comment,
.res.comments-page .comment,
.res.res-commentBoxes .comment {
    margin: 8px 0 2px 15px !important;
    border-left: 2px solid hsl(227, 5%, 78%)!important;
}

:lang(dm) .comment,
:lang(dm).res.comments-page .comment,
.comments-page.res-nightmode .comment,
.res.res-nightmode.comments-page .comment,
.res.res-nightmode.res-commentBoxes .comment {
    border-left-color: hsla(227,10%,10%,1)!important;
}

/* below top level comments */
.comments-page .comment .comment,
.res.comments-page .comment .comment,
.res.res-commentBoxes .comment .comment {
    margin: 0 0 3px 0!important;
    border-left: 2px solid hsl(227, 5%, 85%)!important;
}

:lang(dm) .comment .comment,
:lang(dm).res.comments-page .comment .comment,
.comments-page.res-nightmode .comment .comment,
.res.res-nightmode.comments-page .comment .comment,
.res.res-nightmode.res-commentBoxes .comment .comment {
    border-left-color: hsla(227,10%,14%,1)!important;
}

/* comment background
--------------------------------------------------------------------------------*/
html body .content[role=main] .commentarea .comment,
html body .content[role=main] .commentarea .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: hsl(227, 10%, 20%) !important;
}
html body .content[role=main] .commentarea .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
html body .content[role=main] .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: hsl(227, 10%, 16%) !important;
}

html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: hsl(227, 5%, 97%) !important;
}
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
html:not(:lang(dm)):not(.res-nightmode) body .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: hsl(227, 5%, 92%) !important;
}

/* tagline colors
--------------------------------------------------------------------------------*/
.comment .author {
    font-weight: bold;
}
.comment .tagline .author {
    color: #007FB3;
}
.comment .tagline .author:hover {
    color: #49f;
}
.comment .tagline .author.submitter, .search-result-meta .submitter {
    color: #B8322E;
}
.comment .tagline .author.moderator,
.comment .tagline .author.moderator:hover {
    color: #228822;
}

:lang(dm) .comment .tagline .author,
.res.res-nightmode .comment .tagline .author {
    color: hsl(197, 60%, 45%);
}

:lang(dm) .comment .tagline .author.submitter,
.res.res-nightmode .comment .tagline .author.submitter {
    color: #b78c25;
}

:lang(dm) .comment .tagline .moderator,
.res.res-nightmode .comment .tagline .moderator {
    color: #7ab87a;
}

/********************************************************************************
* SUBMIT PAGE
*********************************************************************************/
.submit-page .side {
    padding-top: 186px;
}

.submit-page .side .md>blockquote:last-of-type {
    margin-top: 181px;
}


.submit-page .content > h1,
.content[role=main] .submit > * {
    margin: 0 auto;
    width: 520px;
    box-sizing: border-box;
}

.submit-page .content > h1 {
    width: 500px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-align: center;
}

.submit-page .formtab,
#items-required,
.submit #suggested-reddits {
    display: none !important;
}

.submit-page .formtabs-content {
    border-top: 0;
}
.submit .roundfield {
    background: transparent !important;
}
.submit textarea, .submit input[type=text] {
    background: rgba(71,87,104,0.08);
    border: 0;
    width: 500px;
    box-sizing: border-box;
}

.submit .submit_text {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 0;
    background: #fff !important;
    margin: 20px 0;
}
.submit .submit_text .md ul {
    padding-left: 15px;
}

.content.submit .info-notice, .submit .infobar {
    background: hsl(197, 50%, 88%);
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.submit .infobar {
    width: 500px;
    margin: 0 auto 20px;
    font-size: 13px;
    padding: 10px;
}
.submit button[type=submit] {
    background: #0098D3;
    color: #fff;
    width: 100%;
    line-height: 38px;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 200ms ease;
}
.submit button[type=submit]:hover {
    opacity: 0.8;
}

:lang(dm) .submit textarea,
:lang(dm) .submit input[type=text],
.res.res-nightmode .submit textarea,
.res.res-nightmode .submit input[type=text] {
    background: rgba(255,255,255,0.08) !important;
    color: #eee;
}

:lang(dm) .submit .submit_text,
.res.res-nightmode .submit .submit_text {
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    background: rgba(255,255,255,0.05) !important;
}

:lang(dm) .content.submit .info-notice,
:lang(dm) .submit .infobar,
.res.res-nightmode .content.submit .info-notice,
.res.res-nightmode .submit .infobar {
    background: hsla(197, 50%, 88%, 0.05) !important;
}

/********************************************************************************
* WIKI PAGE
*********************************************************************************/
.wiki-page .wiki-page-content {
    margin: 15px;
}

/********************************************************************************
* SEARCH PAGE
*********************************************************************************/
.search-page .titlebox {
    margin-top: 39px;
}

.search-page .titlebox:after {
    content: '';
    display: block;
    position: absolute;
    right: 5px;
    top: 570px;
    width: 262px;
    height: 36px;
    background: #2d313e;
}

:lang(dm) #previoussearch {
    color: #ccc;
}
:lang(dm) .combined-search-page #search input[type=text] {
    background: #2b2e37;
    border: 1px solid #383c47;
}
:lang(dm) .search-result-group-header {
    border-bottom-color: #3f4149;
}

:lang(dm) .search-expando.collapsed:before,
.res-nightmode .search-expando.collapsed:before {
    background: linear-gradient(to bottom,transparent 0%,hsla(225, 16%, 11%, 1) 100%) !important;
}

/********************************************************************************
* FOOTER
*********************************************************************************/
.footer-parent {
    background: url(%%TestBottom2%%) no-repeat center / cover;
    margin: 0;
    margin-bottom: -100px;
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
    border-top: 4px solid black;
}

body > .debuginfo {
    position: relative;
    z-index: 50;
    color: white;
    margin-top: 60px;
    height: 10px;
}
body > .debuginfo .icon {
    color: white;
}
body > .debuginfo:before {
    content: 'CSS by /u/kwwxis';
    position: absolute;
    left: 5px;
    bottom: 0;
}

.footer {
    background: rgba(0,0,0,0.7);
    border: 0;
    border-radius: 0;
    padding: 10px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer:before {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 40px;
    top: 8px;
    right: 22px;
    left: 0;
    margin: 0 auto;
    background: url(%%header-light%%) no-repeat center / contain;
}
.footer:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 8px;
    content: 'This subreddit is not affiliated with Bungie, Inc. or Activision Publishing, Inc.';
    color: #666;
}
.footer .col {
    border-color: hsl(240, 1%, 30%);
}
.footer .flat-vert.title {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}
.footer a, .bottommenu a {
    color: #b78c25;
}
.bottommenu {
    color: #ccc;
}



/********************************************************************************
* HEADER BANNER CUSTOM
*********************************************************************************/

/* header */
html:not(.res-nightmode):not(:lang(dm)) #header-bottom-left {
    background: #fff;
}
html:not(.res-nightmode):not(:lang(dm)) #header-bottom-left:before {
    background: url(%%banner%%) no-repeat left center / cover;
    opacity: 0.8;
}
html:not(.res-nightmode):not(:lang(dm)) #header-bottom-left:after {
    box-shadow: none;
}

/* sr-header-area */
html:not(.res-nightmode):not(:lang(dm)) #sr-header-area {
    background: rgba(0,0,0,0.45) !important;
}

html:not(.res-nightmode):not(:lang(dm)) #sr-header-area a,
html:not(.res-nightmode):not(:lang(dm)) .dropdown.srdrop .selected,
html:not(.res-nightmode):not(:lang(dm)) #sr-header-area,
html:not(.res-nightmode):not(:lang(dm)) #sr-header-area a,
html:not(.res-nightmode):not(:lang(dm)) #sr-header-area div[id^=RESShortcuts],
html:not(.res-nightmode):not(:lang(dm)) #sr-header-area a.RESShortcutsCurrentSub,
html:not(.res-nightmode):not(:lang(dm)) #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: #fff !important;
    text-shadow: 0px 0px 15px #fff;
}

/* infobar 2 */
html:not(.res-nightmode):not(:lang(dm)) .side .md>h6:first-of-type>strong {
    background: hsl(228, 8%, 90%);
    border-bottom: 1px solid hsl(228, 8%, 80%);
}
html:not(.res-nightmode):not(:lang(dm)) .side .md>h6:first-of-type>strong>a {
    border-color: hsl(228, 8%, 80%);
    background: hsl(228, 8%, 98%);
    color: #000;
}
html:not(.res-nightmode):not(:lang(dm)) .side .md>h6:first-of-type>strong>a:hover {
    background: #b78c25 !important;
    border-color: #e3e4e7;
    color: #fff;
}
html:not(.res-nightmode):not(:lang(dm)) .side .md>h6:first-of-type>strong>a:hover:after {
    border-color: #e3e4e7 !important;
}