.link:not(.linkflair) .thumbnail:after {
    visibility: hidden;
}

.linkflair-mod .thumbnail:after {background-position: 0 0;}
.linkflair-lfspc .thumbnail:after {background: -96px 0;}
.linkflair-ltspc .thumbnail:after {background: -192px 0;}
.linkflair-vltspc .thumbnail:after {background: -288px 0;}
.linkflair-lfsps4 .thumbnail:after {background: -384px 0;}
.linkflair-ltsps4 .thumbnail:after {background: -480px 0;}

.linkflair-vltsps4 .thumbnail:after {background: 0 -56px;}
.linkflair-sherpacard .thumbnail:after {background: -96px -56px;}
.linkflair-sotm .thumbnail:after {background: -192px -56px;}
.linkflair-lfsxb1 .thumbnail:after {background: -288px -56px;}
.linkflair-ltsxb1 .thumbnail:after {background: -384px -56px;}
.linkflair-vltsxb1 .thumbnail:after {background: -480px -56px;}

.side a[href="https://goo.gl/zbjZKy"] { /* PS4 LTS */ background: -240px 0;}
.side a[href="https://goo.gl/WZyX9y"] { /* XB1 LTS */ background: -192px -28px;}
.side a[href="https://goo.gl/UacKbi"] { /* PC LTS */  background: -96px 0;}

.side a[href="https://goo.gl/ee2hDK"] { /* PS4 LFS */ background: -192px 0;}
.side a[href="https://goo.gl/mb1nV8"] { /* XB1 LFS */ background: -144px -28px;}
.side a[href="https://goo.gl/owjSjw"] { /* PC LFS */  background: -48px 0;}