/* pagename */
html:not(.res-nightmode):not(:lang(dm)) .pagename a:after {
    background-image: url(%%header-dark%%);
}
/* pagename halo effect */
html:not(.res-nightmode):not(:lang(dm)) .pagename a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 75px;
    box-shadow: 0 1px 80px rgba(255,255,255,0.35);
}

/* snoo */
html:not(.res-nightmode):not(:lang(dm)) #header-img-a {
    background-position: 0px -111px;
    opacity: 0.6;
}

/* tabmenu */
html:not(.res-nightmode):not(:lang(dm)) #header .tabmenu {
    background: rgba(255,255,255,0.25);
    box-shadow: 0 -10px 55px rgba(255,255,255,0.7);
}
html:not(.res-nightmode):not(:lang(dm)) #header .tabmenu li a {
    color: #000 !important;
    text-shadow: 0px 0px 15px #fff;
    font-weight: 900 !important;
}
html:not(.res-nightmode):not(:lang(dm)) #header .tabmenu li.selected,
html:not(.res-nightmode):not(:lang(dm)) #header .tabmenu {
    border-bottom-color: #000;
    border-bottom-width: 1px;
}
html:not(.res-nightmode):not(:lang(dm)) #header .tabmenu li.selected {
    border-bottom-width: 2.5px;
    margin-bottom: -1.5px;
}