/* Discussion */
.side a[href="https://goo.gl/zSp78P"],
.side a[href="https://goo.gl/6EEEoV"] {
	background-position: 0px 0px;
}
/* Question */
.side a[href="https://goo.gl/e2qkEp"],
.side a[href="https://goo.gl/U6qiCV"] {
	background: 0 -28px;
}
/* Guide */
.side a[href="https://goo.gl/pz5fD6"],
.side a[href="https://goo.gl/FZAUrc"] {
	background: 0 -56px;
}
/* SGA */
.side a[href="https://goo.gl/Kq7fPM"],
.side a[href="https://goo.gl/ZhJRDp"] {
	background: 0 -84px;
}
/* Lore */
.side a[href="https://goo.gl/oVo3JN"],
.side a[href="https://goo.gl/Ikt6OO"] {
	background: 0 -112px;
}
/* Media */
.side a[href="https://goo.gl/s9Y6xq"],
.side a[href="https://goo.gl/oPs0Rv"] {
	background: 0 -140px;
}
/* Suggestion */
.side a[href="https://goo.gl/ftvcdJ"],
.side a[href="https://goo.gl/BGKi0m"] {
	background: 0 -168px;
}
/* News */
.side a[href="https://goo.gl/ztLRaa"],
.side a[href="https://goo.gl/BgbYaO"] {
	background: 0 -196px;
}
/* Misc */
.side a[href="https://goo.gl/j4VxzC"],
.side a[href="https://goo.gl/19DUIZ"] {
	background: 0 -224px;
}
/* Megathread */
.side a[href="https://goo.gl/LyRvTn"],
.side a[href="https://goo.gl/V3bcQw"] {
	background: 0 -252px;
}

.link:not(.linkflair) .thumbnail:after,
.linkflair-discussion .thumbnail:after  { background-position: 0px 0px }
.linkflair-question .thumbnail:after,
.linkflair-answered .thumbnail:after    { background: 0 -56px }
.linkflair-guide .thumbnail:after       { background: 0 -112px }
.linkflair-sga .thumbnail:after         { background: 0 -168px }
.linkflair-lore .thumbnail:after        { background: 0 -224px }
.linkflair-media .thumbnail:after       { background: 0 -280px }
.linkflair-bungieplz .thumbnail:after   { background: 0 -336px }
.linkflair-news .thumbnail:after        { background: 0 -392px }
.linkflair-misc .thumbnail:after        { background: 0 -448px }
.linkflair-megathread .thumbnail:after  { background: 0 -504px }
.linkflair-bungie .thumbnail:after      { background: 0 -560px }
.thumbnail.nsfw:after                   { background: 0 -616px }