.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"] {
    position: static;
    overflow: visible;
}
.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"] a {
    display: none !important;
}
.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"]:after {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(%%BungieReplied%%) no-repeat center / contain;
    right: 5px;
    top: 5px;
}
.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"] ~ a.title {
    display: block;
    margin-right: 70px;
}
.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"] ~ .domain {
    display: none;
}
.listing-page .link .title > .linkflairlabel[title*="Bungie Replied"] ~ .tb-bracket-button {
    display: none;
}