.side .md > hr:nth-of-type(2) + h4,
.side .md > hr:nth-of-type(2) + h4 + h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-top: 2px solid #b88c26;
    border-bottom: 1px solid #1e2229;
}
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4,
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 + h4 {
    border-bottom-color: #fff;
}

.side .md > hr:nth-of-type(2) + h4:after,
.side .md > hr:nth-of-type(2) + h4 + h4:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    padding: 0 10px;
    box-sizing: content-box;
    margin: 5px -10px 0 -10px;
    opacity: 0.1;
}
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4:after,
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 + h4:after {
    background: #000;
}

.side .md > hr:nth-of-type(2) + h4 > strong:first-child,
.side .md > hr:nth-of-type(2) + h4 + h4 > strong:first-child {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 0 8px;
    line-height: 24px;
    height: 24px;
    background: rgba(0,0,0,0.25);
    color: hsl(232, 20%, 70%);
}

.res.res-nightmode .side .md > hr:nth-of-type(2) + h4 > strong:first-child em,
.res.res-nightmode .side .md > hr:nth-of-type(2) + h4 + h4 > strong:first-child em {
    color: hsl(232, 20%, 70%);
}

:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 > strong:first-child,
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 + h4 > strong:first-child {
    background: rgba(255,255,255,0.5);
    color: hsl(232, 20%, 25%);
}

.side .md > hr:nth-of-type(2) + h4 > strong:first-child em,
.side .md > hr:nth-of-type(2) + h4 + h4 > strong:first-child em {
    font-style: normal;
    font-size: 10px;
}

.side .md > hr:nth-of-type(2) + h4 a,
.side .md > hr:nth-of-type(2) + h4 + h4 a {
    color: hsl(232, 20%, 95%) !important;
    font-size: 18px;
    margin-right: 5px;
}
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 a,
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 + h4 a {
    color: hsl(232, 20%, 5%) !important;
}

.side .md > hr:nth-of-type(2) + h4 > strong:not(:first-child),
.side .md > hr:nth-of-type(2) + h4 + h4 > strong:not(:first-child) {
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: hsl(232, 20%, 90%);
}

:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 > strong:not(:first-child),
:not(:lang(dm)):not(.res-nightmode) .side .md > hr:nth-of-type(2) + h4 + h4 > strong:not(:first-child) {
    color: hsl(232, 20%, 25%);
}

.side .md > hr:nth-of-type(2) + h4 > strong:nth-child(2),
.side .md > hr:nth-of-type(2) + h4 + h4 > strong:nth-child(2) {
    margin-left: 10px;
}