.link .thumbnail:after {
    background-image: url(%%FilterIcons%%);
	background-size: 96px auto !important;
}
.side .md > blockquote:last-of-type table a {
	background-image: url(%%FilterIcons%%);
	background-size: 48px;
}