.link:not(.linkflair) .thumbnail:after {
    visibility: hidden;
}

.linkflair-mod .thumbnail:after {background-position: 0 0;}
.linkflair-lfspc .thumbnail:after {background: -96px 0;}
.linkflair-ltspc .thumbnail:after {background: -192px 0;}
.linkflair-vltspc .thumbnail:after {background: -288px 0;}
.linkflair-lfsps4 .thumbnail:after {background: -384px 0;}
.linkflair-ltsps4 .thumbnail:after {background: -480px 0;}
.linkflair-bungie .thumbnail:after {background: -576px 0;}
.linkflair-discussion .thumbnail:after {background: -672px 0;}
.linkflair-vltsps4 .thumbnail:after {background: 0 -56px;}
.linkflair-sherpacard .thumbnail:after {background: -96px -56px;}
.linkflair-sotm .thumbnail:after {background: -192px -56px;}
.linkflair-lfsxb1 .thumbnail:after {background: -288px -56px;}
.linkflair-ltsxb1 .thumbnail:after {background: -384px -56px;}
.linkflair-vltsxb1 .thumbnail:after {background: -480px -56px;}
.linkflair-guide .thumbnail:after {background: -576px -56px;}
.linkflair-question .thumbnail:after {background: -672px -56px;}



.side a[href="https://goo.gl/VWne8S"] { /* PS4 LTS */ background: -240px 0;}
.side a[href="https://goo.gl/5uEQdp"] { /* XB1 LTS */ background: -192px -28px;}
.side a[href="https://goo.gl/phJEXq"] { /* PC LTS */  background: -96px 0;}

.side a[href="https://goo.gl/Sx9M6j"] { /* PS4 LFS */ background: -192px 0;}
.side a[href="https://goo.gl/KKBgku"] { /* XB1 LFS */ background: -144px -28px;}
.side a[href="https://goo.gl/RuaG24"] { /* PC LFS */  background: -48px 0;}
