.link .thumbnail:after {
    background-image: url(%%FilterIcons%%);
    background-size: auto 112px!important;
}
.side .md>blockquote:last-of-type table a {
    background-image: url(%%FilterIcons%%);
    background-size: auto 56px;
}